<div class="web-layer layer"></div>
<div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15"
  style="width: 100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" data-mode="cursor">
  <div class="overlay colorblack"></div>
  <div class="img-holder mobile-hide-footer" auto-height>
    <div class="container">
      <div class="text-left-ab text-sec-left">
        <div class="layer" data-depth="0.10">
          <div class="text-color3 fnt-60 uppercase avenir-medium line-height90">
            Local
          </div>
          <div class="life-icon life-icon3 color-white fnt-60 uppercase avenir-medium line-height90">
            <img src="img/libro-home/cycle.png" alt="TravelLibro" class="cycle-section3" />Life
          </div>
        </div>
        <div class="mobile-travellife color-white visible-xs">
          <span class="uppercase color-white fnt-22 mobile-home-travel-cont">
  Share the love for your city
    </span>
          <br>
          <span class="uppercase color-white fnt-22">
      Experience the city like a local
    </span>
        </div>
      </div>
    </div>
    <div class="mobile-home-travel-life visible-xs">
      <a class="various fancybox.iframe vimeo" href="https://player.vimeo.com/video/207905802?title=0&amp;byline=0&amp;portrait=0"
        fancybox-box width='500' height='281' webkitallowfullscreen mozallowfullscreen allowfullscreen>
        <div class="img-travel-life">
          <img src="img/home-mobile-3.png" class="img-responsive" alt="">
          <div class="play-mobile">
            <i class="fa fa-play-circle color-cyan"></i>
          </div>
        </div>
      </a>
    </div>
    <div class="locallife hidden-xs">
      <div class="description-shown text-sec2">
        <div class="text-1">
          <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">Get Inspired</h4>
          <p class="color-white text-center avenir-heavy">
            Experience the city like a local.
            <br>Discover what’s trending
            <br> and read reviews of places
            <br> recommended by locals.
          </p>
        </div>
        <div class="text-center img-ballon-middle">
          <img src="img/libro-home/cycle-green.png" alt="Travel Libro">
        </div>
        <div class="text-1">
          <h4 class="color-white avenir-black text-center fnt-22 text-uppercase">Be the Inspiration</h4>
          <p class="color-white text-center avenir-heavy">
            Share the love for your
            <br>city by capturing the
            <br>favourite moments of your
            <br>local life to inspire others.
          </p>
        </div>
      </div>
    </div>
    <!--<div class="hidden-xs">
      <a class="volume-off-on" id="mute-video" ng-click="muteVolume()">
        <i class="fa fa-microphone-slash" aria-hidden="true"></i>
      </a>
      <a class="full-screen various fancybox.iframe vimeo" href="http://player.vimeo.com/video/34792993?title=0&amp;byline=0&amp;portrait=0"
        fancybox-box width='500' height='281' webkitallowfullscreen mozallowfullscreen allowfullscreen ng-click="pauseVideo();">
        <img src="img/icons/fullscreen.png" alt="TravelLibro" height="25">
      </a>
    </div>-->
    <div ng-include="template.footer" class="template footer"></div>
  </div>
</div>
