<div class="web-layer layer"></div>
<div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15"
  style="width: 100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" data-mode="cursor">
  <div class="overlay colorblack"></div>
  <div class="img-holder mobile-hide-footer" auto-height>
    <div class="container">
      <div class="text-left-ab text-sec-left">
        <div class="layer" data-depth="0.10">
          <div class="color-white fnt-60 uppercase avenir-medium line-height90">
            My
          </div>
          <div class="life-icon color-white fnt-60 uppercase avenir-medium line-height90">
            <img src="img/libro-home/person.png" class="person-section4" alt="TravelLibro" />Life
          </div>
        </div>
        <div class="mobile-travellife color-white visible-xs">
          <ul class="list-inline color-white text-center fnt-22 avenir-heavy uppercase bold avenir-black">
            <li>Journeys</li>
            <li class="no-pad fnt-22">
              |
            </li>
            <li>Moments</li>
            <li class="no-pad fnt-22">
              |
            </li>
            <li>Reviews</li>
          </ul>
        </div>
      </div>
      <div class="mobile-home-travel-life visible-xs">
        <a class="various fancybox.iframe vimeo" href="https://player.vimeo.com/video/207906010?title=0&amp;byline=0&amp;portrait=0"
          fancybox-box width='500' height='281' webkitallowfullscreen mozallowfullscreen allowfullscreen>
          <div class="img-travel-life">
            <img src="img/home-mobile-4.png" class="img-responsive" alt="">
            <div class="play-mobile color-white">
              <i class="fa fa-play-circle"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="text-sec2 mylife-desc hidden-xs">
        <div class="description mb-40">
          <h4 class="color-white avenir-black text-center fnt-22">Journeys</h4>
          <p class="color-white text-center text-center  avenir-heavy">
            Relive the treasured experiences of <br> your past travels and local activities.
          </p>
        </div>
        <div class="description mb-40">
          <h4 class="color-white avenir-black text-center fnt-22">Moments</h4>
          <p class="color-white text-center  avenir-heavy">
            Revisit the stunning pictures and <br> videos of your travel and local life.
          </p>
        </div>
        <div class="description mb-40">
          <h4 class="color-white avenir-black text-center fnt-22">Reviews</h4>
          <p class="color-white text-center  avenir-heavy">
            Explore reviews of trending <br> places by travellers and locals.
          </p>
        </div>
      </div>
    </div>
    <!--<div class="hidden-xs">
      <a class="volume-off-on" id="mute-video" ng-click="muteVolume()">
        <i class="fa fa-microphone-slash" aria-hidden="true"></i>
      </a>
      <a class="full-screen various fancybox.iframe vimeo" href="http://player.vimeo.com/video/34792993?title=0&amp;byline=0&amp;portrait=0"
        fancybox-box width='500' height='281' webkitallowfullscreen mozallowfullscreen allowfullscreen ng-click="pauseVideo();">
        <img src="img/icons/fullscreen.png" alt="TravelLibro" height="25">
      </a>
    </div>-->
    <div ng-include="template.footer" class="template footer"></div>
  </div>
</div>
