@font-face {
  font-family: 'TUI-Icons';
  src: url('../fonts/tui-icons/TUI-Icons.eot?vwb92e');
  src: url('../fonts/tui-icons/TUI-Icons.eot?vwb92e#iefix') format('embedded-opentype'), url('../fonts/tui-icons/TUI-Icons.ttf?vwb92e') format('truetype'), url('../fonts/tui-icons/TUI-Icons.woff?vwb92e') format('woff'), url('../fonts/tui-icons/TUI-Icons.svg?vwb92e#TUI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tui-"],
[class*=" tui-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TUI-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tui-search:before {
  content: "\61";
}

.tui-calendar:before {
  content: "\62";
}

.tui-pin:before {
  content: "\63";
}

.tui-airplane-departure:before {
  content: "\64";
}

.tui-airplane-arrival:before {
  content: "\65";
}

.tui-play:before {
  content: "\66";
}

.tui-navigation-arrow:before {
  content: "\67";
}

.tui-trip-duration:before {
  content: "\68";
}

.tui-alram:before {
  content: "\69";
}

.tui-clock:before {
  content: "\6a";
}

.tui-food:before {
  content: "\6b";
}

.tui-travel-expert:before {
  content: "\6c";
}

.tui-single-person:before {
  content: "\6d";
}

.tui-group-of-people:before {
  content: "\6e";
}

.tui-family:before {
  content: "\6f";
}

.tui-car:before {
  content: "\70";
}

.tui-transfer:before {
  content: "\71";
}

.tui-newsletter:before {
  content: "\72";
}

.tui-phone:before {
  content: "\73";
}

.tui-smartphone:before {
  content: "\74";
}

.tui-pictures:before {
  content: "\75";
}

.tui-virtual-tour:before {
  content: "\76";
}

.tui-wlan:before {
  content: "\77";
}

.tui-best-rated:before {
  content: "\78";
}

.tui-star:before {
  content: "\79";
}

.tui-heart:before {
  content: "\7a";
}

.tui-sun:before {
  content: "\41";
}

.tui-bed:before {
  content: "\42";
}

.tui-sport:before {
  content: "\43";
}

.tui-add-extras:before {
  content: "\44";
}

.tui-anchor:before {
  content: "\45";
}

.tui-arrow-down:before {
  content: "\46";
}

.tui-arrow-up:before {
  content: "\47";
}

.tui-back-to-top:before {
  content: "\48";
}

.tui-boarding-pass:before {
  content: "\49";
}

.tui-book:before {
  content: "\4a";
}

.tui-waves:before {
  content: "\4b";
}

.tui-burger-menu:before {
  content: "\4c";
}

.tui-calculator:before {
  content: "\4d";
}

.tui-cross:before {
  content: "\4e";
}

.tui-cloud-rain:before {
  content: "\4f";
}

.tui-cloud-rain-sun:before {
  content: "\50";
}

.tui-cloud-sun:before {
  content: "\51";
}

.tui-cloud:before {
  content: "\52";
}

.tui-computer:before {
  content: "\53";
}

.tui-confirm:before {
  content: "\54";
}

.tui-credit-card:before {
  content: "\55";
}

.tui-directions-people:before {
  content: "\56";
}

.tui-email:before {
  content: "\57";
}

.tui-entertainment:before {
  content: "\58";
}

.tui-euro:before {
  content: "\59";
}

.tui-exit-arrow:before {
  content: "\5a";
}

.tui-filter:before {
  content: "\30";
}

.tui-home:before {
  content: "\31";
}

.tui-glass:before {
  content: "\32";
}

.tui-hotel:before {
  content: "\33";
}

.tui-infant:before {
  content: "\34";
}

.tui-info:before {
  content: "\35";
}

.tui-login:before {
  content: "\36";
}

.tui-logout:before {
  content: "\37";
}

.tui-luggage:before {
  content: "\38";
}

.tui-minus:before {
  content: "\39";
}

.tui-my-tui:before {
  content: "\21";
}

.tui-night:before {
  content: "\22";
}

.tui-notes:before {
  content: "\23";
}

.tui-offer:before {
  content: "\24";
}

.tui-other:before {
  content: "\25";
}

.tui-padlock:before {
  content: "\26";
}

.tui-parking:before {
  content: "\27";
}

.tui-plane-inbound:before {
  content: "\28";
}

.tui-plane-outbound:before {
  content: "\29";
}

.tui-plane-seat:before {
  content: "\2a";
}

.tui-plus:before {
  content: "\2b";
}

.tui-price-tag:before {
  content: "\2c";
}

.tui-printer:before {
  content: "\2d";
}

.tui-question-mark:before {
  content: "\2e";
}

.tui-refresh:before {
  content: "\2f";
}

.tui-save:before {
  content: "\3a";
}

.tui-settings:before {
  content: "\3b";
}

.tui-share:before {
  content: "\3c";
}

.tui-ship:before {
  content: "\3d";
}

.tui-sms:before {
  content: "\3e";
}

.tui-snack:before {
  content: "\3f";
}

.tui-sort:before {
  content: "\40";
}

.tui-stop:before {
  content: "\5b";
}

.tui-taxi:before {
  content: "\5d";
}

.tui-time-reverse:before {
  content: "\5e";
}

.tui-tips:before {
  content: "\5f";
}

.tui-toilet:before {
  content: "\60";
}

.tui-warning:before {
  content: "\7b";
}

.tui-wheelchair:before {
  content: "\7c";
}

.tui-world:before {
  content: "\7d";
}

.tui-boat:before {
  content: "\7e";
}

.tui-golf:before {
  content: "\5c";
}

.tui-water-splash:before {
  content: "\e000";
}

.tui-no-kids:before {
  content: "\e001";
}

.tui-winter-sports:before {
  content: "\e002";
}

.tui-edit:before {
  content: "\e003";
}
