<div class="editor-itinerary-page">
  <div class="editor-banner-holder relate">
    <div class="overlay-itinerary-bg"></div>
    <div class="editor-banner-detail get-center full-width text-center">
      <div class="editor-tag color-white">
        <h4 class="m-clear avenir-medium">TraveLibro - Editor</h4>
      </div>
      <!-- <div class="journey-date">
        <span class="color-white avenir-roman">Jan 2013</span>
      </div> -->
      <div class="journey-travel-heading color-white">
        <h3 class="avenir-heavy m-clear">Family Holiday 2013</h3>
      </div>
      <div class="trip-day-count ">
        <p><span class="days block avenir-heavy">20</span> <span class="block avenir-roman">Days Trip</span></p>
      </div>
      <div class="journey-type-icon">
        <ul class="list-inline">
          <li ng-repeat="icon in getItineraryType track by $index">
            <img ng-src="{{icon.img}}" alt="" width="{{icon.width}}" class="img-responsive">
            <!-- Note :  use width size in backend -->
          </li>
        </ul>
      </div>
      <!-- <div class="button-holder mt20">
        <button class="btn btn-white-outline btn-more avenir-medium">Follow</button>
      </div> -->
    </div>
  </div>
  <!-- list of editor journey -->
  <div class="bg-white">
    <!-- trip status -->
    <div class="trip-itinerary-status">
      <div class="trip-status-main"> <!---status bar is in right with 15px---->
        <div class="status-country-holder" ng-repeat="country in countryList track by $index">
          <div class="country-flag-holder relate">
            <img ng-src="{{country.img}}" alt="Country">
            <div class="status-country-name text-center">
              <span>{{country.countryName}}</span>
            </div>
          </div>
          <ul>
            <!-- <li ng-repeat="country in countryList track by $index"> -->
            <li ng-repeat="city in country.cityList track by $index">
              <div class="status-city-holder">
                <!-- dotted line -->
                <span class="small-dot"></span>
                <span class="small-dot"></span>
                <span class="small-dot"></span>
                <span class="small-dot last-dot"></span>
                <!-- dotted line end -->
                <!-- dot status -->
                <div class="status-indot relate">
                  <!-- city name of dot and img -->
                  <div class="status-city-name ">
                    <span>{{city.cityName}}</span>
                  </div>
                  <!-- city name of dot and img end-->
                </div>
                <!-- dot status end -->
                <!-- img on dot  -->
                <div class="status-imgholder relate hide">
                  <img src="img/adrena.jpg" alt="" class="img-responsive">
                  <!-- city name of dot and img -->
                  <div class="status-city-name">
                    <!-- <span>{{city.cityName}}</span> -->
                  </div>
                  <!-- city name of dot and img end-->
                </div>
                <!-- img on dot end-->
                <!-- only last dotted lines -->
                <div class="last-dotted-line">
                  <span class="small-dot"></span>
                  <span class="small-dot"></span>
                  <span class="small-dot"></span>
                </div>
                <!-- only last dotted lines end-->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- trip status end -->
    <div class="container">
      <!-- accordion main -->
      <div class="accordion-holder">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
            <div class="accordion-list" ng-repeat="list in countryTripList">
              <!-- trip accordion heading -->
              <div class="trip-heading-accordion">
                <div class="clearfix">
                  <div class="pull-left">
                    <img ng-src="{{list.countryImg}}" alt="" width="35" class="mr5 agentitinerary-countryImg">
                    <h4 class="color-dark-blue avenir-heavy trip-country-name">{{list.countryName}}</h4>
                  </div>
                  <div class="pull-right">
                    <!-- <span>Expand</span> -->
                  </div>
                </div>
              </div>
              <!-- trip accordion heading end-->
              <div class="listing-accordion">
                <uib-accordion close-other="oneAtATime">
                  <uib-accordion-group  is-open="status.open"  ng-repeat="detail in list.cityList">
                    <uib-accordion-heading class="relate">
                      <div class="journey-accordion-heading color-white">
                        <div class="clearfix">
                          <p class="city-heading avenir-heavy m-clear pull-left">Day <span>{{detail.dayInput1}}</span> to Day <span>{{detail.dayInput2}}</span> In <span class="trip-city-name">{{detail.cityName}}</span></p>
                          <span class="pull-right"><i class="fa accordion-icon" ng-class="{'fa-minus' : status.open , 'fa-plus' : !status.open}"></i></span>
                        </div>
                      </div>
                    </uib-accordion-heading>
                    <div class="journey-accordion-detail avenir-roman">
                      <ul class="user-trip-detail">
                        <li>
                          <div class="user-stayed-at">
                            <span class="user-trip-heading">
                              Stayed At
                            </span>
                            <div class="avenir-roman user-trip-descp" ng-bind-html="detail.stayedAt"></div>
                          </div>
                        </li>
                        <li>
                          <div class="user-ate-at">
                            <span class="user-trip-heading">
                              Ate At
                            </span>
                            <div class="avenir-roman user-trip-descp" ng-bind-html="detail.ateAt"></div>
                          </div>
                        </li>
                        <li>
                          <div class="user-must-do">
                            <span class="user-trip-heading">
                              Must Do's
                            </span>
                            <div class="avenir-roman user-trip-descp" ng-bind-html="detail.mustDo"></div>
                          </div>
                        </li>
                      </ul>
                      <div class="trip-descp">
                        <h4>A Little More About This Trip ...</h4>
                        <div class="user-about-trip" ng-bind-html="detail.aboutTrip"></div>
                      </div>
                      <!-- gallery photo -->
                      <div class="view-trip-photo {{editGallery}}">
                        <div class="photo-button-holder">
                          <a class="full-width block editor-photos btn-view btn-pink" ng-click="showGallery($index);"><i class="fa fa-picture-o mr5"></i>Photos</a>
                          <a class="full-width block editor-photos btn-close btn-dark-blue" ng-click="showGallery($index);"><i class="fa fa-chevron-down mr5"></i>Close</a>
                        </div>
                        <div class="masonry-holder">
                          <div class="masonry-editor-pic" masonry preserve-order>
                            <div class="masonry-brick" ng-repeat="img in editorGallery track by $index">
                              <div class="editor-gallery">
                                <div class="gallery-image-holder">
                                  <img ng-src="{{img}}" alt="" class="img-responsive">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- gallery photo end -->
                    </div>
                  </uib-accordion-group>
                </uib-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- accordion main end-->
      <!-- comment and like panel main --->
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
          <div class="share-comment-main">
            <div class="clearfix share-option-main">
              <div class="task-holder pull-left" ng-init="getClicked = false;">
                <ul class="list-inline">
                  <li><a href="" ng-click="getClicked = true;" class="relate" ><i class="fa like-button-icon color-blue" ng-class="{'fa-heart-o': getClicked == false, 'fa-heart like-animate': getClicked == true}" like-sound></i>
                    <span></span>
                    <audio id="like-play">
                      <source src="img/tiny1.mp3" type="audio/mp3">
                    </audio>
                  </a></li>
                  <li>
                    <a href=""><img src="img/comments.png" alt="Comments" height="22" class="agent-iti-comment-icon"></a>
                  </li>
                  <li>
                    <a href=""><img src="img/reviews.png" alt="Review" height="22" class="agent-iti-review-icon"></a>
                  </li>
                  <li>
                    <a href=""><img src="img/print.png" alt="Print" height="22"  class="agent-iti-print-icon"></a>
                  </li>
                  <li>
                    <a href=""><img src="img/download.png" alt="Download" height="22" class="agent-iti-download-icon"></a>
                  </li>
                </ul>
              </div>
              <div class="opitions pull-right">
                <img src="img/options.png" alt="Options" class="agent-iti-options-icon">
              </div>
            </div>
            <div class="clearfix like-review-main">
              <!-- like and review -->
              <div class="like-review-holder pull-left">
                <div class="like-holder">
                  <p class="m-clear"><i class="fa fa-heart color-blue mr5"></i><span class="like-count avenir-medium">15660</span> <span class="color-blue avenir-roman">Likes</span></p>
                </div>
                <div class="review-holder">
                  <p class="avenir-heavy color-blue m-clear">
                    <img src="img/reviews.png" alt="" height="16">
                    <span class="review-count">354</span> Reviews <span>(4.5/5)</span>
                  </p>
                </div>
              </div>
              <!-- like and review end-->
              <!-- share  -->
              <div class="share-social-holder pull-right">
                <span class="color-blue avenir-heavy inline-block v-mid mr10">Share This Itinerary</span>
                <ul class="list-inline inline-block v-mid  social-logo-padd">
                  <li><a href="" class="fb-icon color-blue"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                  <li><a href="" class="twi-icon color-blue"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                  <li><a href="" class="google-icon color-blue"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                  <li><a href="" class="pin-icon color-blue"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                  <li><a href="" class="linkedin-icon color-blue"><i class="fa fa-instagram fa-2x"></i></a></li>
                  <li><a href="" class="mail-icon color-blue"><i class="fa fa-envelope-square fa-2x"></i></a></li>
                </ul>
              </div>
              <!-- share end -->
            </div>
            <!-- comment list -->
            <div class="comment-list-holder">
              <div class="view-comment-list">
                <div class="commenter-img">
                  <div class="commenter-imgholder">
                    <img src="img/adrena.jpg" alt="" class="img-responsive">
                  </div>
                </div>
                <div class="comment-container">
                  <div class="commenter-text">
                    <p><span class="commenter-name avenir-heavy color-blue mr5">Andrea Christina</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="like-reply-line">
                      <span class="color-blue avenir-roman mr5 pointer">Like</span>
                      <span class="color-blue avenir-roman mr5 pointer">Reply</span>
                      <span class="time-stamp ml5"><i class="fa fa-calendar color-grey mr5"></i><span>14 Jan, 2016</span> | <i class="fa fa-clock-o mr5 color-grey"></i><span>01:20 pm</span></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="write-comment-text">
                <div class="commenter-img">
                  <div class="commenter-imgholder">
                    <img src="img/profile.jpg" alt="" class="img-responsive">
                  </div>
                </div>
                <div class="comment-ur-text">
                  <textarea name="" id="" placeholder="Write a comment" class="form-control"></textarea>
                </div>
              </div>
              <div class="clearfix comment-post">
                <div class="pull-right">
                  <button class="btn btn-pink post-btn">Post</button>
                </div>
              </div>
            </div>
            <!-- comment list end -->
          </div>
        </div>
      </div>
      <!-- comment and like panel main end -->
      <!-- other itineraries main -->
      <div class="other-itineraries-main">
        <div class="blog-popular-itineraries">
          <div class="">
            <h4 class="color-blue avenir-roman text-center">You Can Also View Other Popular Itineraries</h4>
            <div masonry preserve-order class="blog-itineraries-main">
              <div class="row">
                <div class="masonry-brick col-md-4 col-sm-6" ng-repeat="life in travelLife" >
                  <div class="travel-life-part blog-post avenir-roman" ng-if="life.popItinerary">
                    <div class="travel-journey-heading">
                      <div class="editor-logo">
                        <img src="img/blog/editor-logo.png" alt="" width="70" class="img-responsive">
                      </div>
                      <div class="inline-block editor-subdetail">
                        <div class="clearfix">
                          <div class="pull-left">
                            <h3 class="font-bold color-dark-blue m-clear mb5 heading-name">{{life.heading}}</h3>
                          </div>
                          <div class="pull-right">
                            <span class="follow-following color-blue text-capitalize">{{life.follower}}</span>
                          </div>
                        </div>
                        <p class="m-clear"><i class="fa fa-calendar mr5"></i><span class="mr5">{{life.timestampDate}}</span> | <i class="fa fa-clock-o mr5 ml5"></i> <span>{{life.timestampHour}}</span></p>
                      </div>
                    </div>
                    <div class="onway-journey relate">
                      <div class="onway-imgholder">
                        <img ng-src="{{life.imgOnway}}" alt="" class="img-responsive m-center">
                      </div>
                      <div class="country-visited">
                        <img ng-src="{{visit.imgFlag}}" alt="" height="30" ng-repeat="visit in life.countryVisit track by $index">
                        <span class="">+4</span>
                      </div>
                      <div class="journey-tag-holder">
                        <h3 class="m-clear text-capitalize">{{life.onwayTag}}</h3>
                        <div class="clearfix journey-travelling-type">
                          <div class="pull-left">
                            <div class="journey-type">
                              <ul>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType1}}" alt="" height="20"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType2}}" alt="" height="20"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{life.itineraryType3}}" alt="" height="20"></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="pull-right">
                            <div class="journey-cost">
                              <span>{{life.cost}}</span>
                            </div>
                            <div class="days-spent">
                              <p><span class="block">{{life.spendingDay}}</span>Days</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="social-field-types">
                      <div class="user-social-item clearfix">
                        <div class="pull-left">
                          <ul>
                            <li><a href="" class="relate" ><i class="fa color-blue" ng-class="post.likeDone ? 'fa-heart like-animate' : 'fa-heart-o'" ng-click="" like-sound></i>
                            <span></span>
                            <audio id="like-play">
                              <source src="img/tiny1.mp3" type="audio/mp3">
                            </audio>
                          </a></li>
                            <li>
                              <a href=""><img src="img/comments.png" alt="" height="18"></a>
                            </li>
                            <li>
                              <a href=""><img src="img/reviews.png" alt="" height="18"></a>
                            </li>
                            <li>
                              <a href=""><img src="img/share.png" alt="" height="18"></a>
                            </li>
                          </ul>
                        </div>
                        <div class="pull-right">
                          <div class="">
                            <span><img src="img/options.png" alt=""  class="pointer"></span>
                          </div>
                        </div>
                      </div>
                      <div class="social-likes-reviews avenir-heavy">
                        <div class="clearfix">
                          <div class="pull-left">
                            <span class="color-blue mr10 like-block"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">{{life.likes}}</b>Likes</span>
                            <span class="color-blue"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">{{life.reviews}} Reviews ({{life.pointReview}}/5)</span>
                          </div>
                          <div class="pull-right user-card-ballon">
                            <img src="img/travel.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- visit local and travel post -->
                  <div class="visit-post {{life.class}}" ng-if="life.visitPost">
                    <div class="visit-post-main" ng-repeat="visit in life.getvisitPost track by $index">
                      <div class="relate">
                        <div class="visit-view-imgholder">
                          <img ng-src="{{visit.imgVisit}}" alt="" class="img-responsive">
                        </div>
                        <!-- local visit post -->
                        <!-- <div class="local-visit-post" ng-if="visit.localLifeMain">
                          <div class="local-visit-header clearfix">
                            <div class="pull-left">
                              <h4 class="color-white avenir-heavy"><img src="img/flag.png" alt="Journey Flag" ng-if="visit.flag" width="30" class="mr5">{{visit.locationLocal}}</h4>
                            </div>
                            <div class="pull-right">
                              <div class="tag-ongo-journey-local bg-dark-cyan">
                                <span class="inline-block color-blue avenir-heavy">Explore Destinations</span>
                              </div>
                            </div>
                          </div>
                          <div class="local-visit-detail" ng-if="visit.localVisit">
                            <div class="clearfix">
                              <div class="pull-left" ng-if="visit.cityTag">
                                <p class="color-white avenir-roman m-clear mt5">{{visit.tag}}</p>
                              </div>
                              <div class="pull-left" ng-if="visit.rating">
                                <p class="avenir-roman color-white m-clear mt5 been-here">People Been Here : {{visit.peopleBeen}} | Rating : <span><i class="fa fa-star color-pink"></i>
                                  <i class="fa fa-star color-pink"></i>
                                  <i class="fa fa-star color-pink"></i>
                                  <i class="fa fa-star color-pink"></i>
                                  <i class="fa fa-star-o"></i></span></p>
                              </div>
                              <div class="pull-right">
                                <button class="btn btn-white-outline avenir-roman">View</button>
                              </div>
                            </div>
                          </div>
                        </div> -->
                        <!-- local visit post end-->
                        <!-- travel visit post -->
                        <div class="travelvisit" ng-if="visit.travelVisit">
                          <div class="row">
                            <div class="col-md-8 col-sm-8">
                              <h4 class="color-white avenir-heavy m-clear book-title-mob">{{visit.tagTravel}}</h4>
                            </div>
                            <div class="col-md-4 col-sm-4 text-center">
                              <button class="btn btn-white-outline mob-booknow">Book Now</button>
                            </div>
                          </div>
                        </div>
                        <div class="travelvisit-img" ng-if="visit.visitImg">
                          <img src="img/skyscanner.jpg" alt="" class="img-responsive" width="80">
                        </div>
                        <!-- travel visit post end -->
                      </div>
                      <div class="travelocal-visit-foot">
                        <div class="visit-slider" ng-if="visit.visitSlider">
                          <flex-slider class="carousel travelocal-slider" flex-slide="slide in visit.visitedPost track by $index">
                            <li>
                              <div class="postslider-imgholder">
                                <img ng-src="{{slide.imgSlider}}" alt="" class="img-responsive">
                                <span>{{slide.visitName}}</span>
                              </div>
                            </li>
                          </flex-slider>
                        </div>
                        <div class="social-field-types">
                          <div class="user-social-item clearfix">
                            <div class="pull-left">
                              <ul>
                                <li><a href="" class="relate"><i class="fa color-blue" ng-class="post.likeDone ? 'fa-heart like-animate' : 'fa-heart-o'" ng-click="" like-sound></i>
                                <span></span>
                                <audio id="like-play">
                                  <source src="img/tiny1.mp3" type="audio/mp3">
                                </audio>
                              </a></li>
                                <li>
                                  <a href="">
                                    <img src="img/comments.png" alt="" height="18" class="if-blue">
                                    <img src="img/comments-white.png" alt="" height="18" class="if-white">
                                  </a>
                                </li>
                                <li>
                                  <a href="">
                                    <img src="img/reviews.png" alt="" height="18" class="if-blue">
                                    <img src="img/reviews-white.png" alt="" height="18" class="if-white">
                                  </a>
                                </li>
                                <li>
                                  <a href="">
                                    <img src="img/share.png" alt="" height="18" class="if-blue">
                                    <img src="img/share-white.png" alt="" height="18" class="if-white">
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="pull-right">
                              <div class="">
                                <span>
                                  <img src="img/options.png" alt="" class="if-blue">
                                  <img src="img/options-white.png" alt="" class="if-white">
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="social-likes-reviews">
                            <div class="clearfix">
                              <div class="pull-left">
                                <span class="color-blue mr10"><i class="fa fa-heart color-blue mr5"></i><b class="mr5">15660</b>Likes</span>
                             </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- visit local and travel post end-->
                  <div class="view-other-profile relate" ng-if="life.otherProfile">
                    <div class="" ng-repeat="view in life.viewProfile">
                      <div class="profile-pic-follower">
                        <img ng-src="{{view.imgBg}}" alt="" class="img-responsive">
                      </div>
                      <div class="other-profile-detail text-center">
                        <div class="other-profile-holder">
                          <img ng-src="{{view.profileImg}}" alt="" class="img-responsive">
                        </div>
                        <h3 class="name-follower color-white avenir-roman">{{view.name}}</h3>
                        <p class="color-white follow-detail avenir-roman"><i class="fa fa-map-marker mr5"></i> <span class="location">{{view.location}}</span> | <span class="follower">Follower : {{view.follower}} </span></p>
                        <button class="btn btn-white-outline">View This Profile</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- other itineraries main end-->
    </div>
  </div>
  <!-- list of editor journey end  -->
</div>
