<section class="loginforgot-bg pt70 rl img-holder">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="login-signup-tab">
                    <div class="title-head ptb20">
                        <h4 class="color-white avenir-heavy text-center fnt-22">
                            Reset Your Password
                        </h4>
                    </div>
                    <div class="login-form forgot-pswd-form psd-form ptb20">
                        <form data-ng-submit="change()">
                            <div class="form-group text-center avenir-heavy error-forgot-msg" ng-if="showErr">
                                <span>OOPS!!! The link is inavlid or got expired.</span>
                            </div>
                            <div class="rl">
                                <div class="form-group side-stick">
                                    <input type="password" class="form-control color-white" id="inputGroupSuccess4" aria-describedby="Password" placeholder="Password" ng-model="formData.password" ng-change="type()" required>
                                </div>
                            </div>
                            <div class="rl">
                                <div class="form-group side-stick">
                                    <input type="password" class="form-control color-white" placeholder="Confirm Password" ng-model="formData.confirmPassword" ng-change="type()" required>
                                </div>
                            </div>
                            <div class="form-group text-center avenir-heavy error-forgot-msg" ng-if="showErr1">
                                <span>Password & Confirm Password did not match.</span>
                            </div>
                            <div class="btn-login text-center">
                                <button class="btn btn-outline color-white avenir-roman">
                                    Set Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
