<div class="destination mt-60" scrolldown>
  <div class="img-holder-destination bg-journey relate">
    <div class="overlay-landing"></div>
    <div class="get-center country-title">
      <h4 class="color-white title-head">Popular Journeys</h4>
    </div>
    <div ng-include="template.footer" class="template footer"></div>
    <div class="footer">
      <footer ng-controller=headerctrl>
        <div class="hidden-xs app-icons ab">
          <div class="container-fluid">
            <div class="col-md-12">
              <ul class="list-unstyled list-inline text-right color-white">
                <li class="">
                  To Create Journeys Download App
                </li>
                <li>
                  <a href="https://itunes.apple.com/in/app/travelibro/id1056641759" target="_blank" class="color-white">
                    <i class="fa fa-apple"></i>
                  </a>
                </li>
                <li>|</li>
                <li>
                  <a href="https://play.google.com/store/apps/details?id=com.ascra.app.travellibro" class="color-white" target="_blank">
                    <i class="fa fa-android"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- <div class="visible-xs">
          <div class="download-app text-center uppercase download-app-footer visible-xs" ng-class="{ 'close-download': isopen} ">
            <div class="pull-right">
              <a ng-click="opendownload();"><i class="fa fa-times color-white" aria-hidden="true"></i></a>
            </div>
            <a ng-click="customLink()">
  Download App
</a>
          </div>
        </div> -->
      </footer>
    </div>
    <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
      <img src="img/mouse-scroll.png" alt="Travelibro">
      <p>Scroll Down</p>
    </div>
  </div>
</div>
<div class="popular-journeypage">
  <div class="container m-plr0">
    <div class="popular-journey second blog-itineraries-main"  infinite-scroll="getMoreJourney()" infinite-scroll-disabled="scroll.busy">
      <div masonry preserve-order>
        <div class="row m-m0">
          <div class="col-md-4 col-sm-6 m-plr0 masonry-brick" ng-repeat="post in popularJourneyData track by $index">
            <div class="activity-post {{post.class}}">
              <div class="activity-post-main">
                <!-- post header -->
                <div class="post-header relate">
                  <div class="inline-block picture-section">
                    <div class="user-pic pointer" ng-if="post.user" ui-sref="mylife({'urlSlug':post.user.urlSlug})">
                      <img ng-src="{{post.user.profilePicture | uploadpath:50:50:'cover'}}" alt="" class="img-responsive">
                    </div>
                  </div>
                  <div class="user-detail clearfix width74 inline-block">
                    <div class="pull-right">
                      <div class="follow-or-following pointer" ng-click="followFollowing(post.user)">
                        <span class="color-dark-blue ml5">{{post.user.following | followFollowingStatus}}</span>
                      </div>
                    </div>
                    <h4 class="font-bold color-dark-blue pointer m-clear" ng-if="post.user" ui-sref="mylife({'urlSlug':post.user.urlSlug})">{{post.user.name}}</h4>
                    <div class=" user-more-detail">
                        <p class="m-clear"><span class=""><i class="fa fa-calendar mr5"></i>{{post.startTime|formatDate:'date'}}</span> | <span class=""><i class="fa fa-clock-o mr5"></i>{{post.startTime|formatDate:'time'}}</span></p>
                    </div>
                  </div>
                  <!-- post type icon -->
                  <!-- post type icon end -->
                </div>
                <!-- post status -->
                <div class="post-your-status relate">
                  <p class="your-post" ng-if="post.onGoing==false">{{post.name}} - Journey ({{post.duration}} {{post.duration|singularPlural:'Days'}})</p>
                  <p class="your-post" ng-if="post.onGoing==true">Started a Journey - {{post.name}}</p>
                  <!-- flag country -->
                  <div class="flag-section">
                    <div class="country-visited" ng-repeat="visit in post.countryVisited | limitTo:3 track by $index">
                      <img ng-src="{{visit.country.flag|uploadpath:30:30:'cover'}}" alt="" height="30">
                    </div>
                    <span class="" ng-if="post.countryVisited.length>3">+{{post.countryVisited.length-3}}</span>
                  </div>
                  <!-- flag country end -->
                </div>
                <!-- post status end -->
                <!-- post header end -->
                <!-- post-main-section -->
                <div class="post-main-section pointer"  ng-click="routeOngo(post)">
                  <div class="relate">
                    <!-- tag on journey -->
                    <!--<div class="tag-ongo-journey">
                      <span class="inline-block color-white">On The Go</span>
                    </div>-->
                    <!-- tag on journey end-->
                    <!-- video post -->
                    <div class="video-post relate" ng-if="post.video">
                      <img src="img/blog/popular-blog.jpg" alt="" class="img-responsive">
                      <div class="youtube-icon get-center">
                        <span><i class="fa fa-youtube-play fa-4x"></i></span>
                      </div>
                    </div>
                    <!-- video post end -->
                    <!-- img post -->
                    <div class="post-img relate" ng-if="post.photo">
                      <img src="img/blog/popular-blog.jpg" alt="" class="img-responsive">
                    </div>
                    <!-- img post end -->
                    <!-- img post slider -->
                    <div class="imgpost-relatedslider" ng-if="post.photoSlider">
                      <flex-slider class="carousel" flex-slide="slider in post.relatedPhoto track by $index" item-width="80" animation="slide" item-margin="5" direction-nav="false" control-nav="false" mousewheel="true">
                        <li>
                          <div class="related-postimgholder">
                            <img ng-src="{{slider}}" alt="" class="img-responsive">
                          </div>
                        </li>
                      </flex-slider>
                      <div class="post-rating">
                        <span class="avenir-heavy color-blue">Rating : <i class="fa fa-star color-pink"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </span>
                      </div>
                    </div>
                    <!-- img post slider end -->
                    <!-- post travelled journey -->
                    <!-- ng-if="post.travelledJourney" -->
                    <div class="travelled-journey">
                      <!-- cover photo -->
                      <div class="travelled-imgholder relate"  ng-if="post.coverPhoto" >
                        <fade-img-loading blur="{{post.coverPhoto|uploadpath:10:10:'cover'}}" image="{{post.coverPhoto|uploadpath:722:750:'cover'}}"></fade-img-loading>
                      </div>
                      <!-- cover photo end -->
                      <!-- start locationpic -->
                      <div class="travelled-imgholder relate map-imageholder" ng-if="!post.coverPhoto">
                        <fade-img-loading blur="{{post.startLocationPic|uploadpath:10:10:'cover'}}" image="{{post.startLocationPic|uploadpath:722:750:'cover'}}"></fade-img-loading>
                      </div>
                      <!-- start locationpic end-->
                      <div class="journey-overview">
                        <ul>
                          <li>
                              <div class="">
                                <img src="img/camera.png" alt="Camera" width="15" class="mr5">
                                <span class="inline-block v-mid">{{post.photoCount}}</span>
                              </div>
                          </li>
                          <li>
                              <div class="">
                                <img src="img/video.png" alt="Video" width="15" class="mr5">
                                <span class="inline-block v-mid">{{post.videoCount}}</span>
                              </div>
                          </li>
                          <li>
                              <div class="">
                                <img src="img/location.png" alt="Location" width="15" class="mr5">
                                <span class="inline-block v-mid">{{post.checkInCount}}</span>
                              </div>
                          </li>
                        </ul>
                      </div>
                      <div class="journey-tag-holder" hidden>
                        <div class="days-spent pull-right">
                          <p><span class="block">{{post.duration}}</span> Days</p>
                        </div>
                        <h4 class="m-clear text-capitalize">{{post.name}}</h4>
                        <div class="clearfix journey-travelling-type">
                          <div class="row m-m0">
                            <div class="col-xs-7 m-plr0">
                              <div class="pull-left">
                                <div class="journey-collection">
                                  <ul>
                                    <li>
                                      <a href="">
                                        <div class="">
                                          <img src="img/camera.png" alt="Camera" width="15" class="mr5">
                                          <span class="inline-block v-mid">{{post.photoCount}}</span>
                                        </div>
                                      </a>
                                    </li>
                                    <li>
                                      <a href="">
                                        <div class="">
                                          <img src="img/video.png" alt="Video" width="15" class="mr5">
                                          <span class="inline-block v-mid">{{post.videoCount}}</span>
                                        </div>
                                      </a>
                                    </li>
                                    <li>
                                      <a href="">
                                        <div class="">
                                          <img src="img/location.png" alt="Location" width="15" class="mr5">
                                          <span class="inline-block v-mid">{{post.checkInCount}}</span>
                                        </div>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-5 m-plr0">
                              <div class="pull-right">
                                <div class="journey-type">
                                  <ul>
                                    <li ng-repeat="list in post.kindOfJourney|limitTo:3 track by $index">
                                      <a href=""><img ng-src="{{list|kindOfJourney:'white'}}" alt="" height="15"></a>
                                    </li>
                                    <!-- <li>
                                  <a href=""><img ng-src="{{post.itineraryType2}}" alt="" height="15"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{post.itineraryType3}}" alt="" height="15"></a>
                                </li> -->
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- post travelled journey end-->
                    <!-- post onway journey -->
                    <div class="onway-journey relate" ng-if="post.onJourney">
                      <div class="onway-imgholder">
                        <img ng-src="{{post.imgOnway}}" alt="" class="img-responsive m-center">
                      </div>
                      <div class="journey-tag-holder">
                        <h3 class="m-clear text-capitalize">{{post.onwayTag}}</h3>
                        <div class="clearfix journey-travelling-type">
                          <div class="pull-left">
                            <div class="journey-type">
                              <ul>
                                <li>
                                  <a href=""><img ng-src="{{post.itineraryType1}}" alt="" height="20"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{post.itineraryType2}}" alt="" height="20"></a>
                                </li>
                                <li>
                                  <a href=""><img ng-src="{{post.itineraryType3}}" alt="" height="20"></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="pull-right">
                            <div class="journey-cost">
                              <span>{{post.cost}}</span>
                            </div>
                            <div class="days-spent">
                              <p><span class="block">{{post.spendingDay}}</span>Days</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- post onway journey end-->
                  </div>
                </div>
                <!-- post-main-section end -->
                <!-- post footer -->
                <div class="post-footer">
                  <div class="social-field-types">
                    <div class="user-social-item clearfix">
                      <div class="pull-left">
                        <ul>
                          <li class="" like-sound ng-click="likeUnlikeActivity(post);"><a href="" class="relate pointer" ><i class="fa color-blue" ng-class="post.likeDone ? 'fa-heart like-animate' : 'fa-heart-o'"></i>
                          <span></span>
                          <audio id="like-play">
                            <source src="img/tiny1.mp3" type="audio/mp3">
                          </audio>
                        </a></li>
                          <li ng-click="getCommentsData(post)">
                            <a class="pointer">
                              <img src="img/comments.png" alt="" height="19" class="color-blue">
                            </a>
                          </li>
                          <!-- <li>
                            <a href="">
                              <img src="img/reviews.png" alt="" height="18" class="color-blue">

                            </a>
                          </li> -->
                          <li>
                            <a ng-click="sharePost(post.sharingUrl)">
                              <img src="img/share.png" alt="" height="19" class="color-blue">
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="pull-right">
                        <div class="relate" ng-init="post.option={}">
                          <span class="pointer" ng-click="editOption(post.option)">
                            <img src="img/options.png" alt="" class="color-blue">
                          </span>
                          <div class="activity-edit-option" ng-show="post.option.backgroundClick">
                            <ul>
                              <li class="pointer" ng-if="post.user._id==userData._id">Hide From All Activity Feed <span class="hide-hover">? <span class="info-div pointer">This activity will be hidden from all your followers "Activity Feed".</span>                                </span>
                              </li>
                              <li class="pointer" ng-if="post.user._id!=userData._id" ng-click="openThankYouModal();">Report</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="social-likes-reviews" ng-if="!(((post.likeCount==0)||(post.likeCount==undefined))&&(post.commentCount==0))">
                      <div class="clearfix">
                        <div class="pull-left">
                          <span class="color-blue mr10 pointer" ng-click="getLikesData(post);"><i class="fa fa-heart color-blue mr5"></i><b class="">{{post.likeCount}}</b>  {{post.likeCount|singularPlural:'Likes'}}</span>
                          <!-- <span class="color-blue">
                            <img src="img/reviews.png" alt="" height="15" class="mr5 v-top if-blue">
                            <img src="img/reviews-white.png" alt="" height="15" class="mr5 v-top if-white">
                            354 Reviews (4.5/5)</span> -->
                          <span class="color-blue pointer" ng-click="getCommentsData(post)">
                            <img src="img/comments.png" alt="" height="13" class="v-top if-blue">
                            <b class="">
                            {{post.commentCount}} </b> {{post.commentCount |singularPlural:'Comments'}}</span>
                        </div>
                        <!--<div class="pull-right">
                          <div class="post-travel-icon">
                            <img src="img/travel.png" alt="" class="activity-travel-icon">
                          </div>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- post footer end -->
              </div>
            </div>
            <!-- activity-post end-->
          </div>
        </div>
      </div>
    </div>
    <!-- COMMENT LIKE SECTION -->
    <div class="" ng-if="postScrollData.viewList">
      <comment-like-section post="post" user-data='userData' post-scroll-data="postScrollData" view-card-comment="viewCardComment" view-card-like='viewCardLike' list-of-comments="listOfComments" list-of-likes="listOfLikes" get-card="getCard" show-like-show='showLikeShow'></comment-like-section>
    </div>
    <div class="backdrop-close" ng-class="{'view-backdrop':viewCardComment==true || viewCardLike==true,'':viewCardComment==false || viewCardLike==false}" ng-click="closeBackDrop();"></div>
    <!-- COMMENT LIKE SECTION END -->
  </div>
  <div class="" ng-if="template.paginationLoader">
    <img src="img/page.svg" alt="" class="m-center img-responsive" width="25px">
  </div>
</div>
