<div class="setting-main">
    <div class="container">
        <div class="setting" auto-height>
            <!-- remove auto height of not needed -->
            <h3 class="color-blue font-bold text-center m-clear mb20 setting-heading">Settings</h3>
            <div class="setting-user-detail">
                <div class="row">
                    <div class="col-md-4 setting-menu-tab">
                        <div class="setting-list avenir-medium">
                            <div class="setting-profile-list pointer" ng-click="setting(1)" ng-class="{'bg-white active-setting' : showSetting == 1}">
                                <div class="profile-heading clearfix">
                                    <i class="fa fa-chevron-right pull-right"></i>
                                    <div class="setting-prof-imgholder">
                                        <img ng-src="{{userData.profilePicture|uploadpath:60:64:'cover'}}" alt="" class="img-responsive">
                                    </div>
                                    <div class="profile-detail inline-block v-top">
                                        <h4 class="color-blue m-clear">{{userData.name}}</h4>
                                        <span class="color-blue" ng-if="userData.dob!=undefined">{{userData.dob|formatDate:'date'}}</span>
                                        <!--<span class="color-blue" ng-if="userData.dob==undefined">DOB --/--/--</span>-->
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li ng-click="setting(2)" ng-class="{'bg-white active-setting' : showSetting == 2}">
                                    <div class="edit-profile-heading clearfix">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-1 col-xs-2">
                                                <div class="text-center setting-typeholder">
                                                    <img src="img/edit-profile.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-11 col-xs-10">
                                                <div class="tab-list">
                                                    <h5 class="color-blue inline-block m-clear">Edit Profile - <span class="fz10">A little more about me</span></h5>
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li ng-click="setting(3)" ng-class="{'bg-white active-setting' : showSetting == 3}">
                  <div class="password-heading clearfix">
                    <div class="row">
                      <div class="col-md-2 col-sm-1 col-xs-2">
                        <div class="text-center setting-typeholder">
                          <img src="img/setting.png" alt="">
                        </div>
                      </div>
                      <div class="col-md-10 col-sm-11 col-xs-10">
                        <div class="tab-list">
                          <h5 class="color-blue inline-block m-clear">Change Passw</h5>
                          <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </li> -->
                                <!-- <li ng-click="setting(4)" ng-class="{'bg-white active-setting' : showSetting == 4}">
                  <div class="upload-heading clearfix">
                    <div class="row">
                      <div class="col-md-2 col-sm-1 col-xs-2">
                        <div class="text-center setting-typeholder">
                          <img src="img/data-upload.png" alt="">
                        </div>
                      </div>
                      <div class="col-md-10 col-sm-11 col-xs-10">
                        <div class="tab-list">
                          <h5 class="color-blue inline-block m-clear">Data Upload</h5>
                          <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </li> -->
                                <li ng-click="setting(5)" ng-class="{'bg-white active-setting' : showSetting == 5}">
                                    <div class="privacy-heading clearfix">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-1 col-xs-2">
                                                <div class="text-center setting-typeholder">
                                                    <img src="img/privacy.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-11 col-xs-10">
                                                <div class="tab-list">
                                                    <h5 class="color-blue inline-block m-clear">Privacy</h5>
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li ng-click="setting(6)" ng-class="{'bg-white active-setting' : showSetting == 6}">
                                    <div class="report-problem-heading clearfix">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-1 col-xs-2">
                                                <div class="text-center setting-typeholder">
                                                    <img src="img/report-problem.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-11 col-xs-10">
                                                <div class="tab-list">
                                                    <h5 class="color-blue inline-block m-clear">Report A Problem</h5>
                                                    <i class="fa fa-chevron-right pull-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 col-pad-zero setting-tab-info">
                        <div class="setting-main-detail bg-white avenir-roman">
                            <!-- profile detail -->
                            <div class="profile-detail-main" ng-if="showSetting == 1">
                                <div class="profile-photo-sec upload-profile">
                                    <label for="profile" class="color-blue">Profile Photo</label>
                                    <div class="cropArea relate hidden-xs" ng-show="showImage" id="profile">
                                        <div class="cancel" ng-click="showImage=false; removeSameFile();"><span class="color-white pointer">Cancel</span></div>
                                        <img-crop image="myImage" result-image="myCroppedImage" result-image-size="700" area-type="square">
                                        </img-crop>
                                        <div class="btn-upload">
                                            <button class="btn btn-pink btn-more" ng-click="uploadProfilePicture(myCroppedImage)">Done</button>
                                        </div>
                                        <!-- loading profile pic-->
                                        <div class="upload-sett-loader" ng-if="uploadingPic">
                                            <img src="img/page.svg" alt="Loading..." class="img-responsive get-center" width="40">
                                        </div>
                                        <!-- loading profile pic end-->
                                    </div>
                                    <!-- only in mobile profile select-->
                                    <div class="visible-xs upload-section relate" ng-if="showImage==true">
                                        <div class="clearfix pl10 pr10">
                                            <div class="pull-left"><span ng-click="removeSettingPic();" class="pointer color-dark-blue">Cancel</span></div>
                                            <div class="pull-right"><span ng-click="uploadProfilePicture(myCroppedImage)" class="color-pink font-bold pointer">Done</span></div>
                                        </div>
                                        <img ng-src="{{myCroppedImage}}" alt="Profile Picture" class="img-responsive m-center">
                                        <!-- loading profile pic-->
                                        <div class="upload-sett-loader" ng-if="uploadingPic">
                                            <img src="img/page.svg" alt="Loading..." class="img-responsive get-center" width="40">
                                        </div>
                                        <!-- loading profile pic end-->
                                    </div>
                                    <!-- only in mobile profile select end-->
                                    <div class="upload-section text-center" ng-hide="showImage">
                                        <div>
                                            <img ng-src="{{userData.profilePicture|uploadpath:200:200:'cover'}}" alt="" class="m-center img-responsive">
                                            <!--<img ng-src="img/upload-icon.jpg" alt="" class="m-center img-responsive">-->
                                            <!--<p class="text-center color-grey avenir-roman">Drag a profile photo here</p>
                      <span class="block mt10 color-grey avenir-roman">-or-</span>-->
                                        </div>
                                        <div class="upload-btn">
                                            <div class="relate inline-block mr10 form-file">
                                                <button class="btn btn-dark-blue pointer avenir-light ">Change Photo</button>
                                                <input type="file" id="fileInput" class="getfile pointer" accept="image/*" fileread="myCroppedImage" />
                                            </div>
                                            <!-- <div class="inline-block from-photogallery">
                        <button class="btn btn-dark-blue pointer avenir-light">Your Photos</button>
                      </div> -->
                                            <!-- <div class="inline-block ml10 from-webcamera">
                        <button class="btn btn-dark-blue pointer avenir-light">Web Camera</button>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                                <form name='profile' ng-submit="editUserData(userData,1,profile.$valid);">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name='firstName' placeholder="Firstname" ng-model="userData.firstName" required>
                                                <span ng-show="profile.firstName.$touched && profile.firstName.$invalid" class="help-inline">The firstName is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="lastName" placeholder="Lastname" ng-model="userData.lastName" required>
                                                <span ng-show="profile.lastName.$touched && profile.lastName.$invalid" class="help-inline">The lastName is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email" class="color-blue">Email</label>
                                                <span type="email" class="setting-input" id="email" placeholder="" disabled>{{userData.email}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group date-pick">
                                                <label for="dob" class="color-blue">DOB</label>
                                                <!-- <input type="date" class="form-control" id="dob"> -->
                                                <!--<input type="text" class="form-control" placeholder="DOB" ng-click="open1();" uib-datepicker-popup="{{format}}" ng-model="userData.dob"
                          is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                        />-->
                                                <div class="itinerary-inputholder setting-datepicker">
                                                    <!-- <input type="date" class="form-control text-center" id="From_{{countryPanel}}{{cityPanel}}" ng-model="editCountry.from" ng-change="getDays(editCountry);" ng-value="editCountry.cityVisited[cityPanel-1].to | date:'yyyy-MM-dd'"> -->
                                                    <input type="text" placeholder="Month" class="form-control text-center detail-date" ng-click="open1();" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="false" id="From_{{countryPanel}}{{cityPanel}}" ng-model="userData.dob" name="dob" />
                                                    <!--<span ng-show="profile.dob.$touched && profile.dob.$invalid" class="help-inline">The DOB is required.</span>-->
                                                    <!--ng-value="editCountry.cityVisited[cityPanel-1].to | date:'yyyy-MM-dd'"-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="username" class="color-blue">Username</label>
                                                <input type="text" class="setting-input form-control" placeholder="Username" id="username" ng-model="userData.urlSlug" required>
                                                <span class="help-inline username-error" ng-show="profile.urlSlug.$touched && profile.urlSlug.$invalid || showUsernameError">
                          Please Choose a Unique Username
                        </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="gender">Gender</label>
                                                <div class="setting-tab-gender" ng-init="gender=''">
                                                    <div class="male text-center inline-block pointer ml20 mr20 mt20" ng-class="{'active-gender': userData.gender=='male'}" ng-click="userData.gender='male'">
                                                        <img src="img/male.png" alt="Gender" class="img-responsive">
                                                        <span class="color-blue avenir-medium">He</span>
                                                    </div>
                                                    <div class="female text-center inline-block pointer ml20 mr20 mt20" ng-class="{'active-gender': userData.gender=='female'}" ng-click="userData.gender='female'">
                                                        <img src="img/female.png" alt="Gender" class="img-responsive">
                                                        <span class="color-blue avenir-medium">She</span>
                                                    </div>
                                                    <div class="they text-center pointer inline-block m120 mt20 mt20" ng-class="{'active-gender' : userData.gender=='they'}" ng-click="userData.gender='they'">
                                                        <img src="img/they.png" alt="They" class="img-responsive">
                                                        <span class="color-blue avenir-medium">They</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="setting-nationality">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Nationality" class="color-blue">Nationality</label>
                                                    <!--<div class="custom-select">
                        <select name="" id="Nationality">
                              <option value="India">India</option>
                            </select>
                      </div>-->
                                                    <ui-select ng-model="userData.homeCountry" theme="bootstrap" name="nationality">
                                                        <ui-select-match placeholder="Search">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="nation._id as nation in nationality | filter:$select.search track by $index">
                                                            <img ng-src="{{nation.flag|uploadpath:30}}" width="30" class="mr10 v-mid inline-block" alt="{{nation.name}}">
                                                            <span class="color-light-grey" ng-bind="nation.name"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span ng-show="profile.nationality.$touched && profile.nationality.$invalid" class="help-inline">Nationality cannot be Empty.</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Live" class="color-blue">Where Do You Live ?</label>
                                                    <!--<div class="custom-select">
                        <select name="" id="Live">
                              <option value="Mumbai">Mumbai</option>
                            </select>
                      </div>-->
                                                    <ui-select ng-model="userData.homeCity" theme="bootstrap">
                                                        <ui-select-match placeholder="Search City">{{$select.selected.description}}</ui-select-match>
                                                        <ui-select-choices repeat="city.description as city in cities | filter:$select.search track by $index" refresh="searchByKey($select.search)" refresh-delay="0">
                                                            <span class="color-light-grey">{{city.description}}</span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="travel-blogger">
                                                <h4 class="color-blue setting-tab-heading">Are You A Travel Blogger?</h4>
                                                <div class="button-group avenir-roman">
                                                    <button class="btn btn-grey-pink text-capitalize" ng-class="{'active':userData.isPhotographer}" ng-click="setPhotographer();">
                                                        <img src="img/travel-photographer.png" alt="" height="21" class="mr5"> travel Photographer
                                                    </button>
                                                    <button class="btn btn-grey-pink text-capitalize" ng-class="{'active':userData.isBlogger}" ng-click="setBlogger();">
                                                        <img src="img/travel-blogger.png" alt="" height="21" class="mr5"> travel Blogger
                                                    </button>
                                                    <button class="btn btn-grey-pink avenir-roman btn-more text-capitalize" ng-class="{'active':userData.isPhotographer==false && userData.isBlogger==false}" ng-click="setNone();">
                                                        None
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="blog-link">
                                                <div class="form-group">
                                                    <input id="inputUrl" type="url" name="url" class="form-control" placeholder="Website Link" ng-model='userData.website'>
                                                    <span class="help-inline" ng-show="profile.url.$touched && profile.url.$invalid">The Link is invalid.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <h4 class="color-blue setting-tab-heading">Personal Details</h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Favourite City" ng-model='userData.favorite_city'>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Dream Destination" ng-model='userData.dream_destination'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix mt20">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-pink btn-more" ng-class="{'disabled' : !profile.$valid }">Save</button>
                                        </div>
                                        <span ng-if="saveSetting" class="pull-right setting-save-load"><img src="img/checked.gif" alt="" width="20px" class="img-responsive"></span>
                                    </div>
                                </form>
                            </div>
                            <!-- profile detail -->
                            <!-- more profile detail -->
                            <div class="more-profile-detail avenir-roman" ng-if="showSetting == 2">
                                <!-- holiday -->
                                <div class="holiday-section">
                                    <h4 class="color-blue setting-tab-heading">Your kind of a holiday</h4>
                                    <ul>
                                        <li ng-repeat="holiday in travelConfig.chooseHoliday">
                                            <div class="select-holiday {{holiday.class}}" ng-click="holidayType($index)">
                                                <figure>
                                                    <div class="holiday-imgholder">
                                                        <img src="{{holiday.img}}" alt="" class="img-responsive m-center">
                                                    </div>
                                                    <figcaption class="color-blue font-bold">{{holiday.caption}}</figcaption>
                                                </figure>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- holiday -->
                                <!-- usually go -->
                                <div class="setting-usually-go">
                                    <h4 class="color-blue setting-tab-heading">You usually go</h4>
                                    <ul>
                                        <li ng-repeat="holiday in travelConfig.usuallyGo">
                                            <div class="select-holiday {{holiday.class}}" ng-click="usuallyType($index)">
                                                <figure>
                                                    <div class="holiday-imgholder">
                                                        <img src="{{holiday.img}}" alt="" class="img-responsive m-center">
                                                    </div>
                                                    <figcaption class="color-blue font-bold">{{holiday.caption1}} <span>{{holiday.caption2}}</span></figcaption>
                                                </figure>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- usually go -->
                                <!-- prefer travel -->
                                <div class="setting-prefer-travel">
                                    <h4 class="color-blue setting-tab-heading">Preference of travel</h4>
                                    <ul>
                                        <li ng-repeat="holiday in travelConfig.preferTravel" ng-click="travelType($index)">
                                            <div class="select-holiday {{holiday.class}}">
                                                <figure>
                                                    <div class="holiday-imgholder">
                                                        <img src="{{holiday.img}}" alt="" class="img-responsive m-center">
                                                        <figcaption class="color-blue font-bold">{{holiday.caption}}</figcaption>
                                                    </div>
                                                </figure>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- prefer travel end-->
                                <!-- ideal holiday type -->
                                <div class="setting-ideal-holiday">
                                    <h4 class="color-blue setting-tab-heading">Your ideal holiday type</h4>
                                    <ul>
                                        <li ng-repeat="holiday in travelConfig.idealSelect" ng-click="idealType($index)">
                                            <div class="select-holiday {{holiday.class}}">
                                                <figure>
                                                    <div class="holiday-imgholder">
                                                        <img src="{{holiday.img}}" alt="" class="img-responsive m-center">
                                                        <figcaption class="color-blue font-bold">{{holiday.caption1}} <span class="block">{{holiday.caption2}}</span></figcaption>
                                                    </div>
                                                </figure>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- ideal holiday type end -->
                                <div class="clearfix mt20">
                                    <div class="pull-right">
                                        <button class="btn btn-pink btn-more" ng-click="editUserData(travelConfig, 2,true)" ;>Save</button>
                                    </div>
                                    <span ng-if="saveSetting" class="pull-right setting-save-load"><img src="img/checked.gif" alt="" width="20px" class="img-responsive"></span>
                                </div>
                            </div>
                            <!-- more profile detail end -->
                            <!-- change password -->
                            <!-- <div class="change-password-detail" ng-if="showSetting == 3">
                <form>
                  <h4 class="color-blue setting-tab-heading">Password</h4>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Current Password">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password">
                      </div>
                    </div>
                  </div>
                  <div class="clearfix mt20">
                    <div class="pull-right">
                      <button class="btn btn-pink btn-more" ng-click="editUserData(userData, 3, true)" ;>Save</button>
                    </div>
                  </div>
                </form>
              </div> -->
                            <!-- change password -->
                            <!-- data upload -->
                            <!-- <div class="data-upload-detail" ng-if="showSetting == 4">
                <h4 class="color-blue setting-tab-heading">Data Upload</h4>
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="radio-select">
                          <input type="radio" id="cellular-wifi" name="data-upload">
                          <label for="cellular-wifi" class="color-blue">
                            Cellular and Wi-Fi
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="radio-select">
                          <input type="radio" id="wifi" name="data-upload">
                          <label for="wifi" class="color-blue">
                            Wi-Fi
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="radio-select">
                          <input type="radio" id="Cellular" name="data-upload">
                          <label for="Cellular" class="color-blue">
                            Cellular
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix mt20">
                    <div class="pull-right">
                      <button class="btn btn-pink btn-more" ng-click="editUserData(userData, 4,true)" ;>Save</button>
                    </div>
                  </div>
                </form>
              </div> -->
                            <!-- data upload end-->
                            <!-- privacy policy  -->
                            <div class="privacy-detail" ng-if="showSetting == 5">
                                <h4 class="color-blue setting-tab-heading">Privacy Policy</h4>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="radio-select">
                                                    <input type="radio" id="public" name="privacy" ng-model="userData.status" value="public">
                                                    <label for="public" class="color-blue">Public - Everyone</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="radio-select">
                                                    <input type="radio" id="private" name="privacy" ng-model="userData.status" value="private">
                                                    <label for="private" class="color-blue">Private - My Followers</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="avenir-medium color-grey fz12 mt20">When you select your account to be private, only your followers can view your My Life - Journeys, Moments and Reviews.</p>
                                    <div class="clearfix mt20">
                                        <div class="pull-right">
                                            <button class="btn btn-pink btn-more" ng-click="editUserData(userData.status, 5,true)" ;>Save</button>
                                        </div>
                                        <span ng-if="saveSetting" class="pull-right setting-save-load"><img src="img/checked.gif" alt="" width="20px" class="img-responsive"></span>
                                    </div>
                                </form>
                            </div>
                            <!-- privacy policy end -->
                            <!-- report a problem -->
                            <div class="problem-detail" ng-if="showSetting == 6">
                                <form name="reportData" ng-hide="showme" ng-submit="saveReport(settingReport)">
                                    <label for="problem">Report A Problem</label>
                                    <div class="form-group relate">
                                        <!--<textarea name="problem" id="problem" class="form-control" placeholder="Comment" ng-model="reportData.problem" required></textarea>-->
                                        <textarea ng-model="settingReport" name="problem" id="problem" class="form-control" placeholder="Comment" required></textarea>
                                        <span ng-show="reportData.$submitted || reportData.problem.$touched">
                      <span ng-show="reportData.problem.$error.required" class="help-inline">Comment is required.</span>
                                        </span>
                                    </div>
                                    <div class="clearfix mt20">
                                        <div class="pull-right">
                                            <!--<button class="btn btn-pink btn-more" type="submit" ng-click="showme=true">Submit</button>-->
                                            <button class="btn btn-pink btn-more" type="submit">Submit</button>
                                        </div>
                                        <span ng-if="saveSetting" class="pull-right setting-save-load"><img src="img/checked.gif" alt="" width="20px" class="img-responsive"></span>
                                    </div>
                                </form>
                                <div class="outer-report-cont" ng-show="showme">
                                    <p class="color-darkgrey"> Your Report Has Been Submitted</p>
                                </div>
                            </div>
                            <!-- report a problem end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
