<!--<header class="bg-dark-blue {{template.isLoggedIn}}" hide-on-scroll ng-controller="headerctrl" ng-show="template.isLoggedIn">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-4">
                    <div class="header-left">
                        <div class="hamburger pointer inline-block {{buttonpos}}" ng-click="getnav();">
                            <span class="icon-bar box-shadow {{onebar}}"></span>
                            <span class="icon-bar box-shadow {{secondbar}}"></span>
                            <span class="icon-bar box-shadow {{thirdbar}}"></span>
                        </div>
                        <div class="search inline-block relate v-top hidden-xs" ng-init="viewSearch={'outerClass':' searchOuter','innerClass':'searchInner'}">
                            <form autocomplete="off">
                                <input type="text " class="form-control color-white avenir-light searchOuter" id="search " ng-model="search.searchType" placeholder="Search Travellers, Destinations, Itineraries, Agents &amp; Tags " ng-change="searchType();" ng-click="editOption(viewSearch,'searchOuter','searchInner')" check-text>
                                <span ng-if="searchHeaderLoad" class="small-loader">
                                    <img src="img/page.svg" width="25px" alt="" class="img-responsive">
                                </span>
                                <div class="search-result-dropdown searchInner" ng-show="viewSearch.backgroundClick;">
                                    <div class="search-traveller-drop" ng-if="getAllSearched.user.length>0">
                                        <div class="search-dropheader search-dropheader-travel">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span>Traveller</span>
                                                </div>
                                                <div class="pull-right">
                                                    <a ng-click="viewResult('search-traveller',search.searchType)">View All</a>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="searchdrop-options">
                                            <li class="search-option" ng-repeat="user in getAllSearched.user track by $index">
                                                <div class="search-option-img pointer" ui-sref="mylife({'urlSlug':user.urlSlug})">
                                                    <img ng-src="{{user.profilePicture|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                                </div>
                                                <span class="search-optiontxt pointer" ui-sref="mylife({'urlSlug':user.urlSlug})">{{user.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="search-travelagent-drop search-traveller-drop" ng-if="getAllSearched.travelAgent.length>0">
                                        <div class="search-dropheader search-dropheader-travel">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span>Travel Agent</span>
                                                </div>
                                                <div class="pull-right">
                                                    <a ng-click="viewResult('search-travelAgent',search.searchType)">View All</a>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="searchdrop-options">
                                            <li class="search-option" ng-repeat="travelAgent in getAllSearched.travelAgent track by $index">
                                                <div class="search-option-img pointer" ui-sref="agent-home-without({'urlSlug':travelAgent.urlSlug})">
                                                    <img ng-src="{{travelAgent.profilePicture|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                                </div>
                                                <span class="search-optiontxt pointer" ui-sref="agent-home-without({'urlSlug':travelAgent.urlSlug})">{{travelAgent.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="search-country-drop" ng-if="getAllSearched.country.length>0">
                                        <div class="search-dropheader clearfix">
                                            <span class="pull-left">Country</span>
                                            <a class="pull-right" ng-click="viewResult('search-country',search.searchType)">View All</a>
                                        </div>
                                        <ul class="searchdrop-options">
                                            <li class="search-option" ng-repeat="country in getAllSearched.country track by $index ">
                                                <div class="pointer search-option-img" ui-sref="destinationcountry({'url':country.urlSlug,'name':'features-cities'})">
                                                    <img ng-src="{{country.flag|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                                </div>
                                                <span class="pointer search-optiontxt" ui-sref="destinationcountry({'url':country.urlSlug,'name':'features-cities'})">{{country.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="search-city-drop" ng-if="getAllSearched.city.length>0">
                                        <div class="search-dropheader clearfix">
                                            <span class="pull-left">City</span>
                                            <a class="pull-right" ng-click="viewResult('search-city',search.searchType)">View All</a>
                                        </div>
                                        <ul class="searchdrop-options">
                                            <li class="search-option" ng-repeat="city in getAllSearched.city track by $index ">
                                                <div class="search-option-img pointer" ui-sref="destinationcity({'url':city.urlSlug,'name':'must-dos'})">
                                                    <img ng-src="{{city.cityCoverPhoto|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                                </div>
                                                <span class="search-optiontxt pointer" ui-sref="destinationcity({'url':city.urlSlug,'name':'must-dos'})">{{city.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="search-itinerary-drop" ng-if="getAllSearched.itinerary.length>0">
                                        <div class="search-dropheader clearfix">
                                            <span class="pull-left">Itinerary</span>
                                            <a class="pull-right" ng-click="viewResult('search-itinerary',search.searchType)">View All</a>
                                        </div>
                                        <ul class="searchdrop-options">
                                            <li class="search-option" ng-repeat="itinerary in getAllSearched.itinerary track by $index">
                                                <div class="search-option-img" ng-click="routeSearchItinerary(itinerary)">
                                                    <img ng-src="{{itinerary.coverPhoto|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                                </div>
                                                <span class="search-optiontxt pointer" ng-click="routeSearchItinerary(itinerary)">{{itinerary.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="search-hashtag-drop" ng-if="getAllSearched.hashtag.length>0">
                                        <div class="search-dropheader clearfix">
                                            <span class="pull-left">Hashtags</span>
                                            <a class="pull-right" ng-click="viewResult('search-hashtag',search.searchType)">View All</a>
                                        </div>
                                        <ul class="searchdrop-options">
                                            <li class="search-option" ng-repeat="hashtag in getAllSearched.hashtag track by $index ">
                                                <div class="clearfix">
                                                    <div class="pull-left">
                                                        <span class="pointer" ng-click="viewResult('search-hashtag',search.searchType)">{{hashtag.title}}</span>
                                                    </div>
                                                    <div class="pull-right">
                                                        <span class="search-optiontxt count">{{hashtag.count}}</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 visible-xs">
                    <div class="text-center mt5">
                        <a ui-sref="home">
                            <img src="img/mobile-logo.png" alt="TravelLibro " class="logo-size">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 visible-xs">
                    <div class="login-signup ">
                        <ul class="list-unstyled list-inline text-right color-white ">
                            <li>
                                <a class="color-white search-icon-header " ng-click="opensearch(); ">
                                    <i class="fa fa-search "></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <h1 class="text-center logo m-clear">
            <a ui-sref="home"><img src="img/travel-logo.png" alt="" class="img-responsive m-center" width="110"></a>
          </h1>
                </div>
                <div class="col-md-5 col-sm-5 hidden-xs">
                    <div class="user-detail text-right">
                        <ul class="list-inline">
                            <li>
                                <a class="color-white ml10" ui-sref="activitytest({'urlSlug':userData.urlSlug})">Activity Feed</a>
                            </li>
                            <li ng-click="switchToProfile(userData);">
                                <a>
                                    <div class="user-img inline-block v-mid">
                                        <img src="{{userData.profilePicture|uploadpath:45:47:'cover'}}" alt="" width="40" class="img-responsive">
                                    </div>
                                    <span class="color-white ml10 fz13 usermade text-capitalize">{{userData.name}}</span>
                                </a>
                            </li>
                            <li>
                                <a class="relate" ui-sref="notification" title="Notification">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification-countbadge" ng-if="userData.notification_count>0">{{userData.notification_count}}</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="setting({'path':'settings'})" title="Settings" ng-if="userData.type=='User'">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <a ui-sref="agent-setting" title="Settings" ng-if="userData.type=='TravelAgent'">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Logout" ng-click="logout();">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="fixed-close {{getslide}}" ng-click="getnav();"></div>
        <div class="sidemenu menu-common mobile-menu {{getslide}}">
            <div class="visible-xs">
                <div class="mobile-header">
                    <div class="profile-mobile">
                        <a ui-sref="mylife({name:'journey','urlSlug':userData.urlSlug})">
                            <div class="user-img inline-block v-mid">
                                <img src="{{userData.profilePicture|uploadpath:45:47:'cover'}}" alt="" width="40" class="img-responsive">
                            </div>
                            <span class="color-white ml10 fz13">{{userData.name}}</span>
                        </a>
                        <div class="mobile-nofity">
                            <ul class="list-inline">
                                <li>
                                    <a ui-sref="activitytest" class="mobile-feedlink">
                                        Activity Feed
                                    </a>
                                </li>
                                <li>
                                    <a class="relate" ui-sref="notification" title="Notification">
                                        <i class="fa fa-bell"></i>
                                        <span class="notification-countbadge" ng-if="userData.notification_count>0">{{userData.notification_count}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="setting({'path':'settings'})" title="Settings" ng-if="userData.type=='User'">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                    <a ui-sref="agent-setting" title="Settings" ng-if="userData.type=='TravelAgent'">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-list">
                <div class="custscroll ">
                    <div ng-include="template.menu " class="template menu "></div>
                </div>
            </div>
        </div>
    </nav>
    <section class="bg-black custom-search pd20 visible-xs" ng-class="{ 'open': isopen} ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                    <div class="search inline-block relate v-top" ng-init="viewSearch={'outerClass':' searchOuter','innerClass':'searchInner'}">
                        <form autocomplete="off">
                            <input type="text " class="form-control color-white avenir-light searchOuter" id="search " ng-model="search.searchType" placeholder="Search Travellers, Destinations, Itineraries, Agents &amp; Tags " ng-change="searchType();" ng-click="editOption(viewSearch,'searchOuter','searchInner')">
                            <span ng-if="searchHeaderLoad" class="small-loader">
                                <img src="img/page.svg" width="25px" alt="" class="img-responsive">
                            </span>
                            <div class="search-result-dropdown searchInner" ng-show="viewSearch.backgroundClick;">
                                <div class="search-traveller-drop" ng-if="getAllSearched.user.length>0">
                                    <div class="search-dropheader search-dropheader-travel">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <span>Traveller</span>
                                            </div>
                                            <div class="pull-right">
                                                <a ng-click="viewResult('search-traveller',search.searchType)">View All</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="user in getAllSearched.user track by $index">
                                            <div class="search-option-img pointer" ui-sref="mylife({'urlSlug':user.urlSlug})">
                                                <img ng-src="{{user.profilePicture|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt pointer" ui-sref="mylife({'urlSlug':user.urlSlug})">{{user.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-travelagent-drop search-traveller-drop" ng-if="getAllSearched.travelAgent.length>0">
                                    <div class="search-dropheader search-dropheader-travel">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <span>Travel Agent</span>
                                            </div>
                                            <div class="pull-right">
                                                <a ng-click="viewResult('search-travelAgent',search.searchType)">View All</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="travelAgent in getAllSearched.travelAgent track by $index">
                                            <div class="search-option-img pointer" ui-sref="agent-home-without({'urlSlug':travelAgent.urlSlug})">
                                                <img ng-src="{{travelAgent.profilePicture|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt pointer" ui-sref="agent-home-without({'urlSlug':travelAgent.urlSlug})">{{travelAgent.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-country-drop" ng-if="getAllSearched.country.length>0">
                                    <div class="search-dropheader clearfix">
                                        <span class="pull-left">Country</span>
                                        <a class="pull-right" ng-click="viewResult('search-country',search.searchType)">View All</a>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="country in getAllSearched.country track by $index ">
                                            <div class="search-option-img" ui-sref="destinationcountry({'url':country.urlSlug,'name':'features-cities'})">
                                                <img ng-src="{{country.flag|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt" ui-sref="destinationcountry({'url':country.urlSlug,'name':'features-cities'})">{{country.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-city-drop" ng-if="getAllSearched.city.length>0">
                                    <div class="search-dropheader clearfix">
                                        <span class="pull-left">City</span>
                                        <a class="pull-right" ng-click="viewResult('search-city',search.searchType)">View All</a>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="city in getAllSearched.city track by $index ">
                                            <div class="search-option-img pointer" ui-sref="destinationcity({'url':city.urlSlug,'name':'must-dos'})">
                                                <img ng-src="{{city.cityCoverPhoto|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt pointer" ui-sref="destinationcity({'url':city.urlSlug,'name':'must-dos'})">{{city.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-itinerary-drop" ng-if="getAllSearched.itinerary.length>0">
                                    <div class="search-dropheader clearfix">
                                        <span class="pull-left">Itinerary</span>
                                        <a class="pull-right" ng-click="viewResult('search-itinerary',search.searchType)">View All</a>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="itinerary in getAllSearched.itinerary track by $index">
                                            <div class="search-option-img" ng-click="routeSearchItinerary(itinerary)">
                                                <img ng-src="{{itinerary.coverPhoto|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt pointer" ng-click="routeSearchItinerary(itinerary)">{{itinerary.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-hashtag-drop" ng-if="getAllSearched.hashtag.length>0">
                                    <div class="search-dropheader clearfix">
                                        <span class="pull-left">Hashtags</span>
                                        <a class="pull-right" ng-click="viewResult('search-hashtag',search.searchType)">View All</a>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="hashtag in getAllSearched.hashtag track by $index ">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span class="pointer" ng-click="viewResult('search-hashtag',search.searchType)">{{hashtag.title}}</span>
                                                </div>
                                                <div class="pull-right">
                                                    <span class="search-optiontxt count">{{hashtag.count}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>-->
<!--<header class="libro-header {{template.isLoggedIn}}" ng-controller="headerctrl" hide-on-scroll ng-hide="template.isLoggedIn" scrolladd1class>
    <section class="bg-black custom-search pd20 " ng-class="{ 'open': isopen} ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <div class="search inline-block relate v-top" ng-init="viewSearch={'outerClass':' searchOuter','innerClass':'searchInner'}">
                        <form autocomplete="off">
                            <input type="text " class="form-control color-white avenir-light searchOuter" id="search " ng-model="search.searchType" placeholder="Search Travellers, Destinations, Itineraries, Agents &amp; Tags " ng-change="searchType();" ng-click="editOption(viewSearch,'searchOuter','searchInner')">
                            <span ng-if="searchHeaderLoad" class="small-loader">
                                <img src="img/page.svg" width="25px" alt="" class="img-responsive">
                            </span>
                            <div class="search-result-dropdown searchInner" ng-show="viewSearch.backgroundClick;">
                                <div class="search-traveller-drop" ng-if="getAllSearched.user.length>0">
                                    <div class="search-dropheader search-dropheader-travel">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <span>Traveller</span>
                                            </div>
                                            <div class="pull-right">
                                                <a ng-click="viewResult('search-traveller',search.searchType)">View All</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="user in getAllSearched.user track by $index">
                                            <div class="search-option-img pointer" ui-sref="mylife({'urlSlug':user.urlSlug})">
                                                <img ng-src="{{user.profilePicture|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt pointer" ui-sref="mylife({'urlSlug':user.urlSlug})">{{user.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-travelagent-drop search-traveller-drop" ng-if="getAllSearched.travelAgent.length>0">
                                    <div class="search-dropheader search-dropheader-travel">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <span>Travel Agent</span>
                                            </div>
                                            <div class="pull-right">
                                                <a ng-click="viewResult('search-travelAgent',search.searchType)">View All</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="travelAgent in getAllSearched.travelAgent track by $index">
                                            <div class="search-option-img pointer" ui-sref="agent-home-without({'urlSlug':travelAgent.urlSlug})">
                                                <img ng-src="{{travelAgent.profilePicture|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt pointer" ui-sref="agent-home-without({'urlSlug':travelAgent.urlSlug})">{{travelAgent.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-country-drop" ng-if="getAllSearched.country.length>0">
                                    <div class="search-dropheader clearfix">
                                        <span class="pull-left">Country</span>
                                        <a class="pull-right" ng-click="viewResult('search-country',search.searchType)">View All</a>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="country in getAllSearched.country track by $index ">
                                            <div class="search-option-img" ui-sref="destinationcountry({'url':country.urlSlug,'name':'features-cities'})">
                                                <img ng-src="{{country.flag|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt" ui-sref="destinationcountry({'url':country.urlSlug,'name':'features-cities'})">{{country.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-city-drop" ng-if="getAllSearched.city.length>0">
                                    <div class="search-dropheader clearfix">
                                        <span class="pull-left">City</span>
                                        <a class="pull-right" ng-click="viewResult('search-city',search.searchType)">View All</a>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="city in getAllSearched.city track by $index ">
                                            <div class="search-option-img pointer" ui-sref="destinationcity({'name':'must-dos','url':city.urlSlug})">
                                                <img ng-src="{{city.cityCoverPhoto|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt pointer" ui-sref="destinationcity({'name':'must-dos','url':city.urlSlug})">{{city.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-itinerary-drop" ng-if="getAllSearched.itinerary.length>0">
                                    <div class="search-dropheader clearfix">
                                        <span class="pull-left">Itinerary</span>
                                        <a class="pull-right" ng-click="viewResult('search-itinerary',search.searchType)">View All</a>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="itinerary in getAllSearched.itinerary track by $index">
                                            <div class="search-option-img" ng-click="routeSearchItinerary(itinerary)">
                                                <img ng-src="{{itinerary.coverPhoto|uploadpath:45:45:'cover'}}" class="img-responsive" alt="">
                                            </div>
                                            <span class="search-optiontxt pointer" ng-click="routeSearchItinerary(itinerary)">{{itinerary.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-hashtag-drop" ng-if="getAllSearched.hashtag.length>0">
                                    <div class="search-dropheader clearfix">
                                        <span class="pull-left">Hashtags</span>
                                        <a class="pull-right" ng-click="viewResult('search-hashtag',search.searchType)">View All</a>
                                    </div>
                                    <ul class="searchdrop-options">
                                        <li class="search-option" ng-repeat="hashtag in getAllSearched.hashtag track by $index ">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span class="pointer" ng-click="viewResult('search-hashtag',search.searchType)">{{hashtag.title}}</span>
                                                </div>
                                                <div class="pull-right">
                                                    <span class="search-optiontxt count">{{hashtag.count}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="nav-onhead ">
        <div class="container-fluid ">
            <nav class="navbar navbar-default ">
                <div class="row ">
                    <div class="col-md-4 col-xs-4">
                        <div class="headerp hamburger ">
                            <div class="navbar-header ">
                                <button type="button " class="navbar-toggle collapsed {{buttonpos}} " ng-click="getnav(); ">
                                    <span class="icon-bar box-shadow {{onebar}} "></span>
                                    <span class="icon-bar box-shadow {{secondbar}} "></span>
                                    <span class="icon-bar box-shadow {{thirdbar}} "></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="text-center ">
                            <a ui-sref="home " class="hidden-xs">
                                <img src="img/libro-home/logo.png " alt="TravelLibro " class="logo-size ">
                            </a>
                            <a ui-sref="home " class="visible-xs">
                                <img src="img/mobile-logo.png " alt="TravelLibro " class="logo-size ">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="login-signup ">
                            <ul class="list-unstyled list-inline text-right color-white ">
                                <li class="hidden-xs">
                                    <span class="avenir-heavy mr5">Login</span>
                                    <button class="btn btn-white-outline login-user" ui-sref="login">User</button>
                                    <button class="btn btn-white-outline login-partner" ui-sref="partnerlogin">Partner</button>
                                </li>
                                <li class="hidden-xs">|</li>
                                <li>
                                    <a class="color-white search-icon-header " ng-click="opensearch(); ">
                                        <i class="fa fa-search "></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="fixed-close {{getslide}}" ng-click="getnav();"></div>
            <div class="sidemenu menu-common {{getslide}}">
                <div class="nav-list">
                    <div class="custscroll ">
                        <div ng-include="template.menu " class="template menu "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>-->
