<div class="coming-soon-page mt-60 second">
    <div class="container">
        <div class="comingsoon-content">
            <h1 class="">COMING SOON</h1>
            <h4>We are out exploring the world to offer enhanced features and a better user experience. Fly back to us in a while.</h4>
            <div class="row" hidden>
                <div class="col-md-offset-2 col-md-8">
                    <div class="comingsoon-mail">
                        <form>
                            <div class="email-form">
                                <div class="input-group" ng-hide="showme">
                                    <input type="email" class="form-control coming-email" placeholder="Enter email" required>
                                    <div class="input-group-btn btn-coming">
                                        <button class="btn btn-comingsoon" ng-click="showme=true"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="login-comming-soon text-center" ng-show="showme">
                                    <h3 class="color-white avenir-roman">
                      Thank You. <br>
                      We will notify you via email soon.
                    </h3>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
