<div class="relate" auto-height>
  <div class="map-journey" ng-style="mapJourneyCss">
    <div id="map" class="get-map-height">
    </div>
  </div>
  <div class="on-go-journey ">
    <div class="container-fluid">
      <!-- on go journey main -->
      <div class="ongo-journey-main">
        <!-- strip journey -->
        <!-- strip journey end-->
        <div class="ongo-card-holder" ng-style="cardHolderCss">
          <!-- journey tab view -->
          <div class="journey-tab-view">
            <!-- journey started -->
            <div class="started-journey-card">
              <div class="relate text-center">
                <div class="journey-start">
                  <a href="http://www.thomson.co.uk/holidays/sensatori" target="_blank"><img src="https://is3-ssl.mzstatic.com/image/thumb/Purple128/v4/7c/60/7b/7c607bc2-92ac-e211-4cc0-dba762441c1e/AppIcon-0-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-6.png/246x0w.jpg" alt="SENSATORI" class="img-responsive m-center"
                  width="100"></a>
                  <h4 class="avenir-roman"><span class="block">{{journey.name}}</span></h4>

                </div>
              </div>
              <div class="box-start-journey" ng-class="{'hasLatLng':journey.location && journey.location.lat}">
                <!-- header started -->
                <div class="started-heading relate text-center clearfix" ng-init="ongo.kindOf = {};">
                  {{journey.startLocation}}
                </div>
                <!-- header started end-->
                <div class="journey-imgholder ">
                  <img ng-src="{{journey.startLocationPic}}" class="img-responsive">
                  <!--- google image --->
                </div>
              </div>
            </div>
            <!-- journey started end-->
          </div>
          <!-- journey tab view end -->
          <!-- card-ongo-main -->
          <div class="relate">
            <div class="dot-line"></div>
            <div class="card-relate-holder functionmap" ng-if="journey.post">
              <journey-post post="ongo" is-mine="template.isMine" is-logged-in="isLoggedIn" json=journey get-comments-data="getCommentsData(post)"
                close-back-drop="closeBackDrop()" get-likes-data="getLikesData(post)" template="template" ng-repeat="ongo in journey.post"></journey-post>
              <!-- ongo journey-end -->
              <div class="ongo-journey-end" ng-if="journey.onGoing==false">
                <a class="journey-end text-center" target="_blank" ng-href="{{journey.findOutMore}}">
                  <h4 class="color-white avenir-roman">Find Out More</h4>
                </a>
                <div class="end-journey-flag text-center">
                  <span class="color-white">Enjoy the stay at TUI Sensatori!</span>
                </div>
              </div>
              <!-- ongo journey end -->
            </div>
          </div>
          <div class="" ng-if="postScrollData.viewList">
            <comment-like-section post="post" user-data='userData' post-scroll-data="postScrollData" view-card-comment="viewCardComment"
              view-card-like='viewCardLike' list-of-comments="listOfComments" list-of-likes="listOfLikes" get-card="getCard"
              show-like-show='showLikeShow'></comment-like-section>
          </div>
        </div>
      </div>
      <!-- map -->
      <!-- map end -->
    </div>
  </div>
</div>
