<div class="profile-main">
  <!-- <div class="" ng-include="profile.profileMain"></div> -->
  <div class="holidayplanner-main">
    <div class="container-fluid">
      <div class="all-profile-detail">
        <div class="bg-white">
          <!-- tabs -->
          <div class="profile-tabs holidayplanner-active" id="tabs">
            <span class="first-strip"></span>
            <span class="sec-strip"></span>
            <span class="third-strip"></span>
            <span class="fourth-strip"></span>
            <ul>
              <li><a href="" class="tab-heading" ng-click="getTab(0)">Journey</a></li>
              <li><a href="" class="tab-heading" ng-click="getTab(1)">Moments</a></li>
              <li><a href="" class="tab-heading" ng-click="getTab(2)">Reviews</a></li>
              <li><a href="" class="tab-heading" ng-click="getTab(3)">Holiday Planner</a></li>
            </ul>
          </div>
          <!-- end tabs -->
          <div class="moment-view holidayplanner-view"></div>
        </div>
      </div>
    </div>
  </div>
</div>
