<div class="modal-body">
    <div class="full-width">
        <div class="alreadyexist ab">
            <div class="profile-imgholder">
                <img src="img/person.jpg" alt="">
            </div>
            <h4 class="color-white avenir-heavy text-center fnt-16 no-margin ptb20">
                Hi Yash your Account already exists with a Facebook Login
            </h4>
            <div class="btn-login text-center">
                <button class="btn btn-outline color-white avenir-roman">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>
