<div class="delete-post">
    <div class="delete-pop">
        <h4>Are You Sure ?</h4>
        <p>Do you want to Delete this itinerary?</p>
        <div class="row-flex">
            <div class="col-flex" ng-click="removeCountryVisited();">
                <span class="delete-confirmation" ng-click="deleteItinerary(itineraryId);">YES</span>
            </div>
            <div class="col-flex">
                <span class="delete-confirmation" ng-click="$dismiss();">NO</span>
            </div>
        </div>
    </div>
</div>
