<div class="outer-report suggest-edit">
    <div class="close pop-close-btn notify-close notify-closeimg" ng-click="$dismiss();password.passChange=false;changePassword();">
        <img src="img/cancel.png" alt="Cancel" class="img-responsive">
    </div>
    <h4 class="thank-you color-white" ng-hide="showme">Change Password</h4>
    <h4 class="thank-you color-white" ng-show="showme">Thank You</h4>
    <div class="outer-report-cont" ng-hide="showme">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <form action="">
                    <div class="form-group">
                        <span class="color-pink">*If you do not change your password, your OTP will be your Password.</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Old Password (OTP)" ng-model="password.oldPassword" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password" ng-model="password.newPassword" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password" ng-model="password.confirmPassword">
                    </div>
                    <div class="text-center">
                        <span class="color-pink" ng-if="password.status">{{password.msg}}</span>
                    </div>
                    <div class="button mt20 mb10">
                        <button class="btn btn-pink" ng-click="password.passChange=true;changePassword();">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="outer-report-cont" ng-show="showme">
        <p class="color-darkgrey"> Your Password Has Been Changed Successfully.</p>
    </div>
</div>
