<div class="share-main-modal share-modal">
  <div class="close pop-close-btn notify-close notify-closeimg" ng-click="$dismiss();">
      <img src="img/cancel.png" alt="Cancel" class="img-responsive">
  </div>
  <div class="modal-title">
    <h3 class="avenir-roman">Let Get Social</h3>
    <p class="avenir-roman m-clear">Share This </p>
  </div>
  <div class="share-local-icon modal-main-content text-center">
    <ul class="list-inline m-clear">
      <li><a ng-href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}/&title=TraveLibro" target="_blank" class="share-facebook" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
      <li><a ng-href="https://twitter.com/intent/tweet?url={{shareUrl}}/&title=TraveLibro" target="_blank" class="share-twitter" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></li>
      <li><a ng-href="https://plus.google.com/share?url=={{shareUrl}}/&title=TraveLibro" class="share-google" title="Google Plus" target="_blank"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
      <li><a ng-href="http://pinterest.com/pin/create/button/?url={{shareUrl}}" class="share-pinterest" title="Pinterest" target="_blank"><i class="fa fa-pinterest-square fa-3x"></i></a></li>
      <li><a ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{shareUrl}}" class="share-linkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
      <li><a ng-href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}" class="share-mail" title="E-mail" target="_blank"><i class="fa fa-envelope-square fa-3x"></i></a></li>
    </ul>
  </div>
</div>
