<div class="modal-body">
    <div class="full-width">
        <div class="alreadyexist ab">
            <div class="profile-imgholder">
                <img src="{{userData.profilePicture|uploadpath}}" alt="">
            </div>
            <h4 class="color-white avenir-heavy text-center fnt-16 no-margin ptb20">
                Hi {{userData.name}} your password has been changed successfully.
            </h4>
            <div class="btn-login text-center">
                <button class="btn btn-outline color-white avenir-roman" ui-sref="home">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>
