<div class="profile-main" id="journeys">
  <!-- <div class="" ng-include="profile.profileMain"></div> -->
  <div class="container-fluid m-p0">
    <div class="all-profile-detail">
      <div class="bg-white">
        <!-- journey travel-life -->
        <div class="journey-tabs" ng-if="showTravellife">
          <!-- tabs -->
          <div class="profile-tabs" id="tabs">
            <span class="first-strip"></span>
            <span class="sec-strip"></span>
            <span class="third-strip"></span>
            <span class="fourth-strip"></span>
            <ul>
              <li><a href="" class="tab-heading" ng-click="getTab(0)">Journey</a></li>
              <li><a href="" class="tab-heading" ng-click="getTab(1)">Moments</a></li>
              <li><a href="" class="tab-heading" ng-click="getTab(2)">Reviews</a></li>
              <!-- <li><a href="" class="tab-heading" ng-click="getTab(3)">Holiday Planner</a></li> -->
            </ul>
          </div>
          <!-- end tabs -->
          <!--switch Travel life and local life-->
          <div class="travel-local-life">
            <div class="clearfix">
              <div class="pull-left">
                <div class="travel-life-btn inline-block mt5 ml20 mr20">
                  <div class="pointer">
                    <span class="btn-tab active-btn-travel"></span>
                    <span>Travel Life</span>
                  </div>
                </div>
                <div class="travel-life-btn inline-block mt5 ml20 mr20">
                  <div class="pointer" ng-click="getlocalLife(); buildNow();">
                    <span class="btn-tab"></span>
                    <span>Local Life</span>
                  </div>
                </div>
              </div>
              <div class="pull-right">
                <div class="add-journey" ng-init="closeJourney={}" ng-if="template.isMine">
                  <!--<span class="pointer" ng-click="false||(showMore = !showMore); editOption(closeJourney)" remove-link my-profile='false' element-event="$event" ng-class="{'close-more' : showMore == true}"><i class="fa fa-plus"></i></span>-->
                  <span class="pointer" ng-click="false||(showMore = !showMore); editOption(closeJourney)" remove-link my-profile='false' element-event="$event"><i class="fa fa-plus"></i></span>
                  <div class="add-more-journey" ng-show="closeJourney.backgroundClick">
                    <ul>
                      <li><a ui-sref="popularjourney">On The Go Journeys</a></li>
                      <li><a ui-sref="itinerary">Upload An Itinerary</a></li>
                      <!--<li><a href="">Holiday Planner</a></li>-->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End of switch Travel life and local life-->
          <!-- user logged for first time -->
          <div class="empty-profile-journey" ng-if="!hasJourney && (template.isMine || (userData.following==1 && userData.status=='private') || userData.status=='public')">
            <div class="row m-m0">
              <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="video-gif-journey videoplays">
                      <div class="mobile-gif">
                        <img src="img/profile-empty/gif-mobile.png" alt="GIF Travelibro" class="img-responsive">
                        <a class="volume-off-on-mylife" id="mute-video" ng-click="muteVolume()">
                          <i class="fa on-off" aria-hidden="true" ng-class="{'fa-microphone':(audioStatus.on), 'fa-microphone-slash': (!audioStatus.on)}"></i>
                        </a>
                      </div>
                      <div class="videoplay-empty-journey">
                        <video width="238px" height="100%" autoplay id="video" muted videoend>
                          <source src="img/libro-home/videos/travellife.mp4" type="video/mp4">
                        </video>
                        <a class="various color-pink fancybox.iframe vimeo" href="https://player.vimeo.com/video/207906141?title=0&amp;byline=0&amp;portrait=0"
                          fancybox-box width='500' height='281' frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                          <div class="play-show">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="empty-travel-journey">
                      <div class="journey-parachute">
                        <img src="img/profile-empty/travel-empty.png" alt="" class="img-responsive inline-block">
                      </div>
                      <h3 class="color-pink avenir-heavy">My Tales &amp; Trails</h3>
                      <div class="empty-ongo">
                        <h4>On-the-Go Journeys</h4>
                        <p class="empty-descp">Capture your journeys and activities whether local or global, creating a beautiful timeline and relive
                          these treasured experiences of your past.</p>
                      </div>
                      <div class="empty-chronicling">
                        <h4>Chronicling Past Travels</h4>
                        <p class="empty-descp">Revisit the treasured moments of your past travels by creating a beautiful memoir of your trip.</p>
                      </div>
                      <p class="empty-descp">This space will get populated when you capture your Travel and Local Life using the TraveLibro App.</p>
                    </div>
                    <div class="journey-downloadicon">
                      <ul class="list-unstyled list-inline text-center color-pink">
                        <li class="">
                          Download App
                        </li>
                        <li>
                          <a href="https://itunes.apple.com/in/app/travelibro/id1056641759" target="_blank" class="color-pink">
                            <i class="fa fa-apple"></i>
                          </a>
                        </li>
                        <li>|</li>
                        <li>
                          <a href="https://play.google.com/store/apps/details?id=com.ascra.app.travellibro" class="color-pink" target="_blank">
                            <i class="fa fa-android"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- user logged for first time end -->
          <!-- PRIVATE PROFILE EMPTY SCREEN -->
          <div class="empty-profile-journey private-accountempty" ng-if="!template.isMine && (userData.following==0 || userData.following==2 || userData.following==undefined ||userData.following==null) && userData.status=='private'">
            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                <div class="private-accountcover text-center">
                  <h3>This account is Private.</h3>
                  <p>Follow to view their Travel and Local Life.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- PRIVATE PROFILE EMPTY SCREEN END -->
          <div class="container" ng-if="template.isMine || (userData.following==1 && userData.status=='private') || userData.status=='public'">

            <div class="masonry-detail" ng-show="hasJourney" infinite-scroll="getMore()" infinite-scroll-disabled="scroll.busy" infinite-scroll-distance='1'>
              <div masonry preserve-order>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6 masonry-brick " ng-repeat="life in   travelLife  track by $index">
                    <!--journey card -->
                    <div class="journey-masonry-brick" ng-if="life.type=='ended-journey' || life.type=='on-the-go-journey'">
                      <div class="travel-life-part avenir-roman">
                        <div class="travel-journey-heading relate">
                          <!-- <p ng-if="life.type=='ended-journey'">Has ended the Journey</p>
                          <p ng-if="life.type=='on-the-go-journey'">Has started a Journey</p> -->
                          <p><span class="text-capitalize">{{life.name}}</span> - Journey (<span>{{life.duration}} {{life.duration | singularPlural: 'Days'}}</span>)</p>
                          <!-- flag section -->
                          <div class="flag-section">
                            <div class="country-visited" ng-repeat="visit in life.countryVisited | limitTo : 3">
                              <img ng-src="{{visit.country.flag|uploadpath:20:20:'cover'}}" alt="" height="20">
                            </div>
                            <span ng-if="life.countryVisited.length>3" class="">+{{life.countryVisited.length-3}}</span>
                          </div>
                          <!-- flag section end-->
                          <!-- <p class="m-clear journey-timestamp"><i class="fa fa-calendar mr5"></i><span class="mr5">{{life.startTime|formatDate: 'date'}}</span>|
                            <i class="fa fa-clock-o mr5 ml5"></i><span class="avenir-roman">{{life.startTime|formatDate: 'time'}}</span>                            <span>{{life.timestampHour}}</span></p> -->
                        </div>
                        <!--jounrey main detail card-->
                        <div class="travelled-journey relate" ng-click="routeTO(life.type,life.urlSlug,life.user.urlSlug)">
                          <!-- ONGO BADGE BADGE -->
                          <!-- <div class="tag-ongo-journey">
                            <span class="inline-block color-white">On The Go</span>
                          </div> -->
                          <!-- ONGO BADGE BADGE -->
                          <div class="travelled-imgholder relate" ng-if="life.coverPhoto!=null">
                            <fade-img-loading blur="{{life.coverPhoto|uploadpath:10:10:'cover'}}" image="{{life.coverPhoto|uploadpath:722:750:'cover'}}" >
                            </fade-img-loading>
                          </div>
                          <div class="travelled-imgholder map-imageholder relate" ng-if="life.coverPhoto==null">
                            <fade-img-loading blur="{{life.startLocationPic|small|uploadpath:10:10:'cover'}}" image="{{life.startLocationPic|small|uploadpath:722:750:'cover'}}" >
                            </fade-img-loading>
                          </div>
                          <div class="journey-overview">
                            <ul>
                              <li ng-if="life.photoCount!=0">
                                  <div class="">
                                    <img src="img/camera.png" alt="Camera" width="15">
                                    <span class="inline-block v-mid">{{life.photoCount }}</span>
                                  </div>
                              </li>
                              <li ng-if="life.videoCount!=0">
                                  <div class="">
                                    <img src="img/video.png" alt="Video" width="15">
                                    <span class="inline-block v-mid">{{life.videoCount}}</span>
                                  </div>
                              </li>
                              <li ng-if="life.checkInCount!=0">
                                  <div class="">
                                    <img src="img/location.png" alt="Location" width="15">
                                    <span class="inline-block v-mid">{{life.checkInCount}}</span>
                                  </div>
                              </li>
                            </ul>
                          </div>
                          <div class="journey-tag-holder" hidden>
                            <div class="days-spent pull-right" ng-init="count=(life.endTime|dateDifference: life.startTime)">
                              <!-- <p ng-if="life.type =='detail-itinerary'"><span class="block">{{count}}</span>{{count|singularPlural:'Days'}}</p> -->
                              <p><span class="block">{{life.duration}}</span> {{life.duration | singularPlural: 'Days'}}</p>
                            </div>
                            <h4 class="m-clear text-capitalize">{{life.name}}</h4>
                            <div class="clearfix journey-travelling-type">
                              <div class="row">
                                <div class="col-xs-7">
                                  <div class="pull-left">
                                    <div class="journey-collection">
                                      <!--<ul ng-if="life.photos.length">-->
                                      <ul>
                                        <li ng-if="life.photoCount!=0">
                                          <a href="">
                                            <div class="">
                                              <img src="img/camera.png" alt="Camera" width="18" class="mr5">
                                              <span class="inline-block v-mid">{{life.photoCount }}</span>
                                            </div>
                                          </a>
                                        </li>
                                        <li ng-if="life.videoCount!=0">
                                          <a href="">
                                            <div class="">
                                              <img src="img/video.png" alt="Video" width="18" class="mr5">
                                              <span class="inline-block v-mid">{{life.videoCount}}</span>
                                            </div>
                                          </a>
                                        </li>
                                        <li ng-if="life.checkInCount!=0">
                                          <a href="">
                                            <div class="">
                                              <img src="img/location.png" alt="Location" width="18" class="mr5">
                                              <span class="inline-block v-mid">{{life.checkInCount}}</span>
                                            </div>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-5">
                                  <div class="pull-right">
                                    <div class="journey-type">
                                      <ul>
                                        <li ng-repeat="list in life.kindOfJourney|limitTo:3 track by $index">
                                          <a href=""><img ng-src="{{list|kindOfJourney:'white'}}" alt="" height="18"></a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--jounrey main detail end-->
                        <div class="social-field-types">
                          <div class="user-social-item clearfix">
                            <div class="pull-left">
                              <ul>
                                <li>
                                  <a href="" class="relate" ng-click="likeUnlikeActivity(life)">
                                    <i class="fa color-blue card-like-animation" ng-class="life.likeDone ? 'fa-heart like-animate' : 'fa-heart-o'" like-sound></i>
                                    <span></span>
                                    <audio id="like-play">
                                      <source src="img/tiny1.mp3" type="audio/mp3">
                                    </audio>
                                  </a>
                                </li>
                                <li ng-click="openCommentSection(life)">
                                  <a href=""><img src="img/comments.png" alt="" height="18"></a>
                                </li>
                                <!--<li>
                                  <a href=""><img src="img/reviews.png" alt="" height="18"></a>
                                </li>
                                <li>
                                  <a href=""><img src="img/share.png" alt="" height="18"></a>
                                </li>-->
                              </ul>
                            </div>
                            <div class="pull-right" ng-if="template.isMine">
                              <div class="relate options pointer" ng-init="life.dropdown = {};">
                                <div class="options" ng-click="editOption(life.dropdown)">
                                  <span class="pl10"><img src="img/options.png" alt=""></span>
                                </div>
                                <div class="journey-edit-options" ng-show="life.dropdown.backgroundClick;">
                                  <ul ng-click="routeTO(life.type,life.urlSlug,life.user.urlSlug)">
                                    <li>
                                      <a href="">Edit Journey Name</a>
                                    </li>
                                    <li ng-if="life.type=='ended-journey'">
                                      <a href="">Change End Journey Date</a>
                                    </li>
                                    <li>
                                      <a href="">Change Cover Photo</a>
                                    </li>
                                    <li>
                                      <a href="">Rate Countries</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="social-likes-reviews" ng-if="!(((life.likeCount==0)||(life.likeCount==undefined))&&(life.commentCount==0))">
                            <div class="clearfix">
                              <div class="pull-left">
                                <span ng-click="openLikeSection(life)" class="color-blue mr10 avenir-roman pointer"><i class="fa fa-heart color-blue mr5"></i><b>{{life.likeCount|filterCount}}</b> {{life.likeCount|singularPlural:'Likes'}}</span>
                                <!--<span class="color-blue avenir-heavy" ng-if="life.pointReview.length>0"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">{{life.reviews}} Reviews ({{life.pointReview}}/5)</span>-->
                                <span ng-click="openCommentSection(life)" class="color-blue mr10 card-comment avenir-roman pointer"><img src="img/comments.png" alt="" class="mr5 v-mid" height="14"><b>{{life.commentCount|filterCount}}</b> {{life.commentCount|singularPlural:'Comments'}}</span>
                              </div>
                              <div class="pull-right">
                                <img src="img/travel.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--journey card end-->
                    <!--itinerary card-->
                    <div class="journey-masonry-brick {{life.type}}" ng-if="life.type=='quick-itinerary' || life.type=='detail-itinerary'">
                      <div class="travel-life-part avenir-roman">
                        <div class="travel-journey-heading">
                          <!-- <p ng-hide="life.onJourney">{{life.heading}}</p> -->
                          <p class="m-clear"><span class="text-capitalize">{{life.name}}</span> - <span ng-if="life.type=='detail-itinerary'">Itinerary</span>
                            <span ng-if="life.type=='quick-itinerary'">Quick Itinerary</span> (<span>{{life.duration}} {{life.duration|singularPlural:'Days'}}</span>) </p>
                          <!-- <p class="m-clear journey-timestamp"><i class="fa fa-calendar mr5"></i><span class="mr5">{{life.startTime|formatDate: 'date'}}</span>|
                            <i class="fa fa-clock-o mr5 ml5"></i><span class="avenir-roman">{{life.startTime|formatDate: 'time'}}</span>                            <span>{{life.timestampHour}}</span></p> -->
                        </div>
                        <!--for itinerary card main-->
                        <div class="onway-journey relate" ng-click="routeTO(life.type,life.urlSlug,life.user.urlSlug)">
                          <!-- ONGO BADGE BADGE -->
                          <!-- <div class="tag-ongo-journey" ng-if="life.type=='detail-itinerary' && life.status==true">
                            <span class="inline-block color-white">Itinerary</span>
                          </div> -->
                          <!-- ONGO BADGE BADGE -->
                          <div class="onway-imgholder relate">
                            <div class="unpublish-banner" ng-if="life.status==false">
                              <span>Unpublished</span>
                            </div>
                            <img ng-src="{{life.coverPhoto|uploadpath}}" alt="" class="img-responsive m-center">
                          </div>
                          <div class="flag-section">
                            <div class="country-visited" ng-repeat="visit in life.countryVisited | limitTo : 3">
                              <img ng-src="{{visit.country.flag|uploadpath}}" alt="" height="20">
                            </div>
                            <span ng-if="life.countryVisited.length>3" class="">+{{life.countryVisited.length-3}}</span>
                            <!-- <div class="country-visited">
                            <img ng-src="{{visit.country.flag|uploadpath}}" alt="" height="30" ng-repeat="visit in life.countryVisited track by $index | limitTo : 3">
                            <span ng-if="life.countryVisited.length>3" class="">+{{life.countryVisited.length-3}}</span>
                          </div> -->
                          </div>
                          <div class="date-itinerary">
                            <span class="view-date text-center">
                              {{life.startTime|date:'MMM'}}<br>{{life.startTime|date:'yyyy'}}
                            </span>
                          </div>
                          <div class="journey-tag-holder" hidden>
                            <div class="days-spent pull-right">
                              <p><span class="block">{{life.duration}}</span>{{life.duration|singularPlural:'Days'}}</p>
                            </div>
                            <h3 class="m-clear text-capitalize">{{life.name}}</h3>
                            <div class="clearfix journey-travelling-type">
                              <div class="row">
                                <div class="col-xs-5">
                                  <div class="pull-left">
                                    <div class="journey-type m0">
                                      <ul>
                                        <li ng-repeat="list in life.itineraryType|limitTo:3">
                                          <a href=""><img ng-src="{{list|kindOfJourney:'white'}}" alt="" height="20"></a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-7">
                                  <div class="" ng-if="life.type=='quick-itinerary'">
                                    <div class="quick-itinerary-tag">
                                      <h4>Quick</h4>
                                      <p>Itinerary</p>
                                    </div>
                                    <div class="date-quick-itinerary">
                                      {{life.month}} {{life.year}}
                                    </div>
                                  </div>
                                  <div class="text-right">
                                    <div class="journey-cost" ng-if="life.currency!='' && life.cost!='' && life.currency!='0'">
                                      <span>{{life.currency}}</span>
                                      <span>{{life.cost | number}}</span>
                                    </div>
                                  </div>
                                </div>
                                <!--<div class="text-right">
                                    <div class="journey-cost">
                                      <span>{{life.currency}}</span>
                                      <span>{{life.cost | number}}</span>
                                    </div>
                                  </div>-->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="social-field-types">
                          <div class="user-social-item clearfix">
                            <div class="pull-left">
                              <ul>
                                <li ng-click="likeUnlikeActivity(life)">
                                  <a href="" class="relate">
                                    <i class="fa color-blue card-like-animation" ng-class="life.likeDone ? 'fa-heart like-animate' : 'fa-heart-o'" like-sound></i>
                                    <span></span>
                                    <audio id="like-play">
                                      <source src="img/tiny1.mp3" type="audio/mp3">
                                    </audio>
                                  </a>
                                </li>
                                <li ng-click="openCommentSection(life)">
                                  <a href=""><img src="img/comments.png" alt="" height="18"></a>
                                </li>
                                <!--<li>
                                    <a href=""><img src="img/reviews.png" alt="" height="18"></a>
                                  </li>
                                  <li>
                                    <a href=""><img src="img/share.png" alt="" height="18"></a>
                                  </li>-->
                              </ul>
                            </div>
                            <div class="pull-right">
                              <!--<div class="" ng-click="editItinerary=!editItinerary">
                                  <span><img src="img/options.png" alt="" height="18"></span>
                                </div>-->
                              <!--temporary edit button dropdown-->
                              <div class="edit-kind-journey" ng-show="editItinerary">
                                <ul>
                                  <li ng-if="life.type=='quick-itinerary'"><a ui-sref="quickitinerary({flag:'edit',urlSlug:life.urlSlug})">Edit Itinerary</a></li>
                                  <li ng-if="life.type=='detail-itinerary'"><a ui-sref="detailitinerary({flag:'edit',urlSlug:life.urlSlug})">Edit Itinerary</a></li>
                                </ul>
                              </div>
                              <!--temporary edit button dropdown-->
                            </div>
                          </div>
                          <div class="social-likes-reviews" ng-if="!(((life.likeCount==0)||(life.likeCount==undefined))&&(life.commentCount==0))">
                            <div class="clearfix">
                              <div class="pull-left">
                                <span ng-click="openLikeSection(life)" class="color-blue mr10 avenir-heavy pointer"><i class="fa fa-heart color-blue mr5"></i><b>{{life.likeCount|filterCount}}</b> {{life.likeCount|singularPlural:'Likes'}}</span>
                                <!--<span class="color-blue avenir-heavy"><img src="img/reviews.png" alt="" height="15" class="mr5 v-top">{{life.reviews}} Reviews ({{life.pointReview}}/5)</span>-->
                                <span class="color-blue mr10 card-comment avenir-heavy pointer" ng-click="openCommentSection(life)"><img src="img/comments.png" alt="" class="mr5" height="12"><b>{{life.commentCount|filterCount}}</b> {{life.commentCount|singularPlural:'Comments'}}</span>
                              </div>
                              <div class="pull-right">
                                <img src="img/travel.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--for itinerary card main end-->
                    </div>
                  </div>
                  <!--itinerary card end-->
                </div>
              </div>
              <!-- comment and like-->
              <div class="" ng-if="postScrollData.viewList">
                <!-- showLikeCommentCard || postScrollData.viewList -->
                <comment-like-section post="post" user-data='myProfileData' post-scroll-data="postScrollData" view-card-comment="viewCardComment" view-card-like='viewCardLike'
                  list-of-comments="listOfComments" list-of-likes="listOfLikes" get-card="getCard" show-like-show='showLikeShow'></comment-like-section>
              </div>
              <!-- comment and like end-->
            </div>
          </div>
        </div>
      </div>
      <!-- end journey travel-life -->
      <!-- journey local life -->
      <div class="journey-tabs bg-white" ng-if="!showTravellife">
        <!-- tabs -->
        <div class="profile-tabs">
          <span class="first-strip"></span>
          <span class="sec-strip" ui-sref="moments"></span>
          <span class="third-strip"></span>
          <span class="fourth-strip"></span>
          <ul>
            <li><a href="" class="tab-heading" ng-click="getTab(0); ">Journey</a></li>
            <li><a href="" class="tab-heading" ng-click="getTab(1); ">Moments</a></li>
            <li><a href="" class="tab-heading" ng-click="getTab(2); ">Reviews</a></li>
            <!-- <li><a href="" class="tab-heading" ng-click="getTab(3);">Holiday Planner</a></li> -->
          </ul>
        </div>
        <!-- end tabs -->
        <div class="travel-local-life">
          <div class="clearfix">
            <div class="pull-left">
              <div class="travel-life-btn inline-block mt5 ml20 mr20">
                <div class="pointer" ng-click="viewTravelLife();">
                  <span class="btn-tab"></span>
                  <span>Travel Life</span>
                </div>
              </div>
              <div class="travel-life-btn inline-block mt5 ml20 mr20">
                <div class="pointer">
                  <span class="btn-tab active-btn-local"></span>
                  <span>Local Life</span>
                </div>
              </div>
            </div>
            <!--<div class="pull-right">
                <div class="add-more-life">
                  <span class="pointer" ng-click="showlocalMore = !showlocalMore" ng-class="{'close-more' : showlocalMore == true}"><i class="fa fa-plus"></i></span>
                  <div class="add-more-journey" ng-show="showlocalMore">
                    <ul>
                      <li><a href="">Check In</a></li>
                      <li><a href="">Photos</a></li>
                      <li><a href="">Videos</a></li>
                      <li><a href="">Thoughts</a></li>
                    </ul>
                  </div>
                </div>
              </div>-->
          </div>
        </div>
        <!-- user logged for first time local life-->
        <div class="empty-profile-journey" ng-if="showLocalLife && (template.isMine || (userData.following==1 && userData.status=='private') || userData.status=='public')">
          <div class="row m-m0">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="video-gif-journey videoplays">
                    <div class="mobile-gif">
                      <img src="img/profile-empty/gif-mobile.png" alt="GIF Travelibro" class="img-responsive">
                      <a class="volume-off-on-mylife" id="mute-video" ng-click="muteVolume()">
                        <i class="fa on-off" aria-hidden="true" ng-class="{'fa-microphone':(audioStatus.on), 'fa-microphone-slash': (!audioStatus.on)}"></i>
                      </a>
                    </div>
                    <div class="videoplay-empty-journey">
                      <video width="238px" height="100%" autoplay id="video" muted videoend>
                        <source src="img/libro-home/videos/locallife.mp4" type="video/mp4">
                      </video>
                      <a class="various color-cyan fancybox.iframe vimeo" href="http://player.vimeo.com/video/207905802?title=0&amp;byline=0&amp;portrait=0"
                        fancybox-box width='500' height='281' frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                        <div class="play-show">
                          <i class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="empty-travel-journey">
                    <div class="journey-cycle">
                      <img src="img/profile-empty/local-empty.png" alt="" class="img-responsive inline-block">
                    </div>
                    <h3 class="color-cyan avenir-heavy">Life In The City</h3>
                    <p class="empty-descp">Candid, fun moments with friends, happy family get-togethers, some precious ‘me-time’…share your love
                      for your city and inspire others to do the same. Cherish your Local Life memories eternally.</p>
                    <p class="empty-descp">This space will get populated when you capture your Travel and Local Life using the TraveLibro App.</p>
                  </div>
                  <div class="journey-downloadicon">
                    <ul class="list-unstyled list-inline text-center color-cyan">
                      <li class="">
                        Download App
                      </li>
                      <li>
                        <a href="https://itunes.apple.com/in/app/travelibro/id1056641759" target="_blank" class="color-cyan">
                          <i class="fa fa-apple"></i>
                        </a>
                      </li>
                      <li>|</li>
                      <li>
                        <a href="https://play.google.com/store/apps/details?id=com.ascra.app.travellibro" class="color-cyan" target="_blank">
                          <i class="fa fa-android"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- user logged for first time local life end -->
        <!-- PRIVATE PROFILE EMPTY SCREEN -->
        <div class="empty-profile-journey private-accountempty" ng-if="!template.isMine && (userData.following==0 || userData.following==2 || userData.following==undefined || userData.following==null) && userData.status=='private'">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <div class="private-accountcover text-center">
                <h3>This account is Private.</h3>
                <p>Follow to view their Travel and Local Life.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- PRIVATE PROFILE EMPTY SCREEN END -->
        <div class="container">
          <div class="local-life-main" ng-hide="showLocalLife" ng-if="template.isMine || (userData.following==1 && userData.status=='private') || userData.status=='public'">
            <div class="overlay-filter ml5" ng-class="{ 'fliter-open': isopen}" ng-click="openMyLifeFilter()"></div>
            <div class="inline-block filter-local-life avenir-roman" ng-class="{ 'fliter-open': isopen} ">
              <form action="">
                <div class="clearfix pt10 pl20 pr20">
                  <div class="pull-right" ng-click="openMyLifeFilter()">
                    <span class="clear-all pointer pl20">
                      <i class="fa fa-times-circle-o fnt-20"></i>
                    </span>
                  </div>
                  <div class="pull-right">
                    <span class="clear-all pointer" ng-click="clearLocalFilter();">Clear All</span>
                  </div>
                </div>
                <!-- filter-month -->
                <div class="filter-month">
                  <span>Month's</span>
                  <div class=" custom-select custom-select-local">
                    <!-- <select class="" name="">
                      <option value="" selected>Select Month</option>
                      <option ng-repeat="month in localDate track by $index" ng-click="getByFilter(month,'date')">{{month}}</option>
                    </select>
                    <ul>
                      <li ng-repeat="month in localDate track by $index" ng-click=" getByFilter(month,'date')">{{month}}</li>
                    </ul> -->
                    <!-- MONTH FILTER UI SELECT -->
                    <ui-select ng-model="month" theme="selectize" ng-disabled="ctrl.disabled" title="Month" class="">
                      <ui-select-match class="" placeholder="Month">{{$select.selected}}</ui-select-match>
                      <ui-select-choices repeat="month in localDate | filter: $select.search">
                        <span ng-bind-html="month | highlight: $select.search" class="" ng-click="getByFilter(month,'date')"></span>
                      </ui-select-choices>
                    </ui-select>
                    <!-- MONTH FILTER UI SELECT END -->
                  </div>
                </div>
                <!-- filter-checkin -->
                <div class="checkin-filter">
                  <span>Check In's</span>
                  <div class="local-filter-checkbox custom-checkbox" ng-repeat="catType in localCategory track by $index">
                    <input type="checkbox" id="{{catType}}" ng-model="categoryType.checked" ng-click="getByFilter(catType,'checkIn')">
                    <label for="{{catType}}">{{catType}}</label>
                  </div>
                  <!-- <span class="checkin-more pointer">More</span> -->
                </div>
                <!-- rating-filter -->
                <div class="rating-filter" ng-if="localRating">
                  <span>Rating</span>
                  <div class="local-filter-checkbox custom-checkbox" ng-if="localRating.fiveRating=='5'">
                    <input type="checkbox" id="five-star" ng-model="localStar.fiveStar" ng-click="getByFilter('5','rating');">
                    <label for="five-star">
                      <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </span>
                    </label>
                  </div>
                  <div class="local-filter-checkbox custom-checkbox" ng-if="localRating.fourRating=='4'">
                    <input type="checkbox" id="four-star" ng-click="getByFilter('4','rating')" ng-model="localStar.fourStar">
                    <label for="four-star">
                      <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </span>
                    </label>
                  </div>
                  <div class="local-filter-checkbox custom-checkbox" ng-if="localRating.threeRating=='3'">
                    <input type="checkbox" id="three-star" ng-click="getByFilter('3','rating')" ng-model="localStar.threeStar">
                    <label for="three-star">
                      <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      </span>
                    </label>
                  </div>
                  <div class="local-filter-checkbox custom-checkbox" ng-if="localRating.twoRating=='2'">
                    <input type="checkbox" id="two-star" ng-click="getByFilter('2','rating')" ng-model="localStar.twoStar">
                    <label for="two-star">
                      <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      </span>
                    </label>
                  </div>
                  <div class="local-filter-checkbox custom-checkbox" ng-if="localRating.oneRating=='1'">
                    <input type="checkbox" id="one-star" ng-model="localStar.OneStar" ng-click="getByFilter('1','rating')">
                    <label for="one-star">
                      <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      </span>
                    </label>
                  </div>
                </div>
                <!-- more-filter-photo video thought -->
                <div class="more-filter">
                  <div class="local-filter-checkbox custom-checkbox" ng-if="localPostCount.photoCount>0">
                    <input type="checkbox" id="photo" ng-model="localFilterPost.photos" ng-click="getByFilter(localFilterPost,'photos')">
                    <label for="photo">Photos</label>
                  </div>
                  <div class="local-filter-checkbox custom-checkbox" ng-if="localPostCount.videoCount>0">
                    <input type="checkbox" id="video" ng-model="localFilterPost.videos" ng-click="getByFilter(localFilterPost,'videos')">
                    <label for="video">Videos</label>
                  </div>
                  <div class="local-filter-checkbox custom-checkbox" ng-if="localPostCount.thoughtCount>0">
                    <input type="checkbox" id="thought" ng-model="localFilterPost.thoughts" ng-click="getByFilter(localFilterPost,'thoughts')">
                    <label for="thought">Thoughts</label>
                  </div>
                </div>
              </form>
            </div>
            <!-- post local-life -->
            <div class="inline-block post-local-life">
              <div class="relate">
                <div class="bg-dark-cyan post-header-view">
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="post-list-view">
                        <ul class="list-inline">
                          <li><img src="img/camera-blue.png" alt="" height="18" class="v-mid"><span class="font-bold inline-block v-mid">{{localPostCount.photoCount}}</span></li>
                          <li><img src="img/video-blue.png" alt="" height="18" class="v-mid"><span class="font-bold inline-block v-mid">{{localPostCount.videoCount}}</span></li>
                          <li><img src="img/location-blue.png" alt="" height="18" class="v-mid"><span class="font-bold inline-block v-mid">{{localPostCount.checkInCount}}</span></li>
                          <li><img src="img/thought.png" alt="" height="18" class="v-mid"><span class="font-bold inline-block v-mid">{{localPostCount.thoughtCount}}</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="pull-right">
                      <div class="mylife-filter font-bold inline-block v-mid pointer" ng-click="openMyLifeFilter()">
                        Filter <i class="fa fa-filter"></i>
                      </div>
                      <div class="total-post inline-block hidden-xs">
                        <span>Total Post's <b>{{localPostCount.totalCount}}</b></span>
                      </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="visible-xs">
                      <div class="total-post">
                        <span>Total Post's <b>{{localPostCount.totalCount}}</b></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="scroll-local-life" ng-if="viewLocal">
                  <div class="local-post" infinite-scroll="getMoreLocalPost();" infinite-scroll-disabled='scroll2.busy' infinite-scroll-distance='1'>
                    <div class="local-postbox" ng-if="localView.view" masonry preserve-order>
                      <!-- local life data -->
                      <div class="row">
                        <div class="col-md-4 col-sm-6 masonry-brick" ng-repeat="localPost in localLifeJourney track by $index">
                          <post-local-life ongolocal="localPost" local-view="localView" open-comment-section="openCommentSection(ongolocal)" open-like-section="openLikeSection(ongolocal)"
                            template="template">
                          </post-local-life>
                        </div>
                      </div>
                      <!-- local life data end-->
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="postScrollData.viewList">
          <!-- showLikeCommentCard || postScrollData.viewList -->
          <comment-like-section post="post" user-data='myProfileData' post-scroll-data="postScrollData" view-card-comment="viewCardComment" view-card-like='viewCardLike'
            list-of-comments="listOfComments" list-of-likes="listOfLikes" get-card="getCard" show-like-show='showLikeShow'></comment-like-section>
        </div>
        <!-- end journey local life -->
      </div>
    </div>
  </div>
</div>
<div class="backdrop-close" ng-class="{'view-backdrop':viewCardComment==true || viewCardLike==true,'':viewCardComment==false || viewCardLike==false}"
  ng-click="closeBackDrop();"></div>
