<div class="container-fluid m-p0">
    <div class="min-hght">
        <div class="relate" ng-class="{'openfilter': isopenfilter}">
            <div class="pt10 pb10 head-title-all">
                <div class="row m-clear">
                    <div class="col-md-3 col-sm-3 col-xs-2">
                        <div class="btn-destinationfilter">
                            <button class="btn btn-pink avenir-roman" ng-click="openFilter()">
                                <i class="fa fa-filter" aria-hidden="true"></i> <span class="hidden-xs">Filter</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="text-center fnt-24 color-white">TraveLibro Recommended Restaurants</h4>
                        <p class="text-center avenir-roman m-clear"><span class="pr20">$$$ - Expensive</span> <span class="pr20">$$ - Mid Range    </span> <span>$ - Cheap Eat</span></p>
                    </div>
                </div>
            </div>
            <div class="libro-filter filterclose">
                <form>
                    <div class="pt20 pb10 head-title-all fliter-min-hght bg-grey">
                        <div class="container-fluid">
                            <div class="pad-btn m-p0">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="select-all-made destination-filterscroll" ng-init="viewRestoCuisine={'outerClass':'toggle-dropDown_1','innerClass':'drop-content_1'}">
                                            <input type="text" placeholder="Cuisine" class="form-control toggle-dropDown_1" ng-model="cityCuisine" ng-click="editOption(viewRestoCuisine,'toggle-dropDown_1','drop-content_1')">
                                            <div class="view-cuisine destination-filterdrop drop-content_1" ng-show="viewRestoCuisine.backgroundClick">
                                                <ul>
                                                    <li ng-repeat="cuisine in cityDestData.cuisine track by $index">
                                                        <div class="custom-checkbox">
                                                            <input type="checkbox" id="{{cuisine.name}}" ng-model="cuisine.checked" ng-click="hotelRestaurantFilter(cuisine,'restaurantCuisine')">
                                                            <label for="{{cuisine.name}}">{{cuisine.name}}</label>
                                                        </div>
                                                    </li>
                                                    <li class="visible-xs">
                                                        <div class="button-all text-right pt10 pr10 pb10">
                                                            <a class="btn btn-pink avenir-roman" ng-click="getCityInfo('restaurant',urlDestinationCity)">Submit</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="select-all-made destination-filterscroll" ng-init="viewRestoType={'outerClass':'toggle-dropDown_2','innerClass':'drop-content_2'}">
                                            <input type="text" class="form-control toggle-dropDown_2" placeholder="Type" ng-model="cityTypeRestaurant" ng-click="editOption(viewRestoType,'toggle-dropDown_2','drop-content_2')">
                                            <div class="destination-filterdrop drop-content_2" ng-show="viewRestoType.backgroundClick">
                                                <ul>
                                                    <li ng-repeat="restaurant in cityDestData.subType track by $index">
                                                        <div class="custom-checkbox">
                                                            <input type="checkbox" id="{{restaurant.name}}Resto" ng-model="restaurant.checked" ng-click="hotelRestaurantFilter(restaurant,'typeRestaurant','toggle-dropDown_2')">
                                                            <label for="{{restaurant.name}}Resto">{{restaurant.name}}</label>
                                                        </div>
                                                    </li>
                                                    <li class="visible-xs">
                                                        <div class="button-all text-right pt10 pr10 pb10">
                                                            <a class="btn btn-pink avenir-roman" ng-click="getCityInfo('restaurant',urlDestinationCity)">Submit</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="select-all-made destination-filterscroll" ng-init="viewRestoBudget={'outerClass':'toggle-dropDown_3','innerClass':'drop-content_3'}">
                                            <input type="text" placeholder="Budget" class="form-control toggle-dropDown_3" ng-model="cityRestoBudget" ng-click="editOption(viewRestoBudget,'toggle-dropDown_3','drop-content_3')">
                                            <div class="destination-filterdrop drop-content_3" ng-show="viewRestoBudget.backgroundClick">
                                                <ul>
                                                    <li ng-repeat="budget in restuarntBudget track by $index">
                                                        <div class="custom-checkbox ">
                                                            <input type="checkbox" id="{{budget.name}}" ng-model="budget.checked" ng-click="hotelRestaurantFilter(budget,'restaurantBudget')">
                                                            <label for="{{budget.name}}">{{budget.name}}</label>
                                                        </div>
                                                    </li>
                                                    <li class="visible-xs">
                                                        <div class="button-all text-right pt10 pr10 pb10">
                                                            <a class="btn btn-pink avenir-roman" ng-click="getCityInfo('restaurant',urlDestinationCity)">Submit</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-2 col-sm-3 ">
                <div class="select-all-made ">
                  <ui-select ng-model="selectedItem ">
                    <ui-select-match placeholder="Budget ">
                      <span ng-bind="$select.selected.name "></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (countries | filter: $select.search) track by $index ">
                      <span ng-bind="item.name "></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>-->
                                    <div class="col-md-3  col-sm-3 ">
                                        <!--<button type="submit">Add</button>-->
                                        <div class="txt-clear text-right">
                                            <a ng-click="clearCityRest();">Clear All</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt10 pb10 head-title-all bg-grey mb20 ">
                        <div class="container-fluid ">
                            <div class="plr30 m-p0">
                                <div class="close-all">
                                    <a class="btn btn-pink avenir-roman " ng-click="openFilter() ">X Close</a>
                                    <a class="btn btn-pink avenir-roman " ng-click="getCityInfo('restaurant', urlDestinationCity)">Submit</a>
                                    <!-- abhi iska api mai dekhna hai -->
                                    <span class="tags avenir-roman" ng-repeat="item in cityRestaurantCuisine track by $index">{{item.name | capitalize}} <span ng-click="hotelRestaurantFilter(item,'restaurantCuisine')">X</span></span>
                                    <span class="tags avenir-roman" ng-repeat="item in citySubTypeData track by $index">{{item.name | capitalize}} <span ng-click="hotelRestaurantFilter(item,'typeRestaurant')">X</span></span>
                                    <span class="tags avenir-roman" ng-repeat="item in cityBudgetData track by $index">{{item.name | capitalize}} <span ng-click="hotelRestaurantFilter(item,'restaurantBudget')">X</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="destination-featured plr30 m-plr0">
            <div class="hotels">
                <div class="empty-travel-journey color-white" ng-if="cityDestData.restaurant.length == 0">
                    <div class="empty-ongo text-center">
                        <p class="empty-descp color-white">“One has not truly experienced a place, until he has dug into a plate of their food!”</p>
                        <p class="empty-descp color-white">
                            We will soon have a taste of the land and it’s food. And of course we will serve up a list of the Restaurants you must hit while in Hallstatt.
                        </p>
                        <p class="empty-descp color-white">
                            If you have visited the city or in fact live there, do fill us in with your recommendations on
                            <a href="mailto:info@travelibro.com" class="color-white">info@travelibro.com</a>.
                        </p>
                    </div>
                </div>
                <div class="row m-m0">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb20 m-plr0" ng-repeat="rest in cityDestData.restaurant track by $index">
                        <div class="hotel-card ">
                            <div class="brdbtm pb10 ">
                                <div class="title-head-inside clearfix">
                                    <h3 class="pull-right color-grey-dollar m-clear avenir-roman ">{{rest.budget}}</h3>
                                    <h4 class="avenir-heavy inline-block"><a href="{{rest.website}}" target="_blank" class="text-ellipsis">{{rest.name}}</a></h4>
                                </div>
                                <div class="rating-localpost inline-block">
                                    <span ng-if="rest.rating==null">
                    <i class="fa fa-star-o color-pink"></i>
                    <i class="fa fa-star-o color-pink"></i>
                    <i class="fa fa-star-o color-pink"></i>
                    <i class="fa fa-star-o color-pink"></i>
                    <i class="fa fa-star-o color-pink"></i>
                  </span>
                                    <span ng-if="rest.rating>0">
                      <span class="rated-star"><i class="fa fa-star color-pink" ng-repeat="a in getRating(rest.rating,'marked') track by $index"></i></span>
                                    <span class="non-rated-star"><i class="fa fa-star-o color-pink" ng-repeat="b in getRating(rest.rating,'unmarked') track by $index"></i></span>
                                    </span>
                                    <span ng-if="rest.rating>0">({{rest.ratingCount}})</span>
                                </div>
                                <div class="category text-ellipsis">
                                    <span>Cuisine: </span>
                                    <span ng-repeat="cuisine in rest.cuisine track by $index" class="cuisine-list" title="{{cuisine}}">{{cuisine}}{{$last ? '' : ', '}}</span>
                                </div>
                                <div class="tag-made category ">
                                    <span ng-repeat="type in rest.type track by $index">{{type}}</span>
                                </div>
                            </div>
                            <div class="review pointer brdbtm clearfix">
                                <!-- <div class="pull-right ">
                  <div class="options">
                    <img src="img/options.png" alt="Options">
                  </div>
                </div> -->
                                <span class="icon-read pointer " ng-click="viewReviews(rest,
                'restaurant')">Read Reviews : <span class="font-bold ">{{rest.readReviewCount}}</span></span>
                            </div>
                            <div class="review clearfix">
                                <div class="pull-right ">
                                    <a ng-click="openSuggestModal(rest._id,'restaurant');">Suggest An Edit</a>
                                </div>
                                <span>Been Here :</span>
                                <span class="italic pointer color-blue" ng-click="rateDestination(rest,'restaurant')">Rate This Now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COMMENT LIKE  REVIEWS SECTION -->
<comment-like-section post="post" user-data='userData' view-card-comment="viewCardComment" view-card-like='viewCardLike' list-of-comments="listOfComments" list-of-likes="listOfLikes" get-card="getCard" show-like-show='showLikeShow' call-review="callReview" view-card-review="viewCardReview" list-of-reviews="listOfReviews"></comment-like-section>
<div class="backdrop-close" ng-class="{'view-backdrop':viewCardComment==true || viewCardLike==true || viewCardReview==true,'':viewCardComment==false || viewCardLike==false || viewCardReview==false}" ng-click="closeBackDrop();"></div>
<!-- COMMENT LIKE REVIEWS SECTION END -->
